{
  "swagger": "2.0",
  "schemes": [
    "http"
  ],
  "host": "desenvolvedor.paggcerto.com.br",
  "basePath": "/v2",
  "info": {
    "description": "",
    "version": "2.0.0",
    "title": "Paggcerto",
    "contato": {
      "e-mail": "atendimento@paggcerto.com.br",
      "url": "paggcerto.com.br"
    },
    "x-logo": {
      "url": "https://paggcerto.com.br/inclusos/imagens/menu/marca.png"
    }
  },
  "tags": [
    {
      "name": "pagamento com cartão",
      "description": "Pagamento com cartão pode ser realizado a vista ou parcelado, utilizando múltiplos cartões e com possibilidade de [split de pagamento](https://desenvolvedor.paggcerto.com.br/v2/payments/#tag/configuracao-do-split). Cada transação de cartão deve obedecer requisitos pré-determinados: validade, limite financeiro do cartão, nome do titular do cartão e código de segurança.  Nesta seção são exibidos os métodos para sua utilização. \n\n A tabela abaixo apresenta alguns cartões para a realização de testes em nosso ambiente sandbox. Neste ambiente  o nome do titular, a data de validade e o cvv podem ser fictícios:   \n\nBandeira  | Nº do cartão \n----------------|---------\nAMEX | 349881342411264 \nDINERSCLUB | 30386724055675 \nELO | 6363693078504487 \nHIPERCARD | 6062820640453968 \nMASTERCARD | 5111925270937702 \nVISA | 4929915748910899 \n\n"
    },
    {
      "name": "pagamento com boleto",
      "description": "Boleto é um título de cobrança que pode ser pago em qualquer instituição ou estabelecimento conveniado. Além de indicar a data de vencimento, podem conter informações sobre desconto e/ou acréscimo de multa e juros e outras instruções. Esta seção apresenta os métodos que estão relacionados à sua utilização."
    },
    {
      "name": "conta do titular",
      "description": "Para realizar pagamentos é necessário o cadastro da conta do titular. Acesse a documentação da nossa [Account API](https://desenvolvedor.paggcerto.com.br/v2/account/#) e obtenha mais informações sobre esse cadastro."
    },
    {
      "name": "webhook",
      "description": "Para utilizar nosso *webhook* acesse a documentação [Webhook API](https://desenvolvedor.paggcerto.com.br/v2/webhook/)."
    },
    {
      "name": "checkout transparente",
      "description": "O checkout transparente da Paggcerto oferece métodos públicos para o parceiro que deseja customizar a tela de pagamentos que será compartilhada com seus clientes sem necessadade de login. "
    },
    {
      "name": "mock",
      "description": "_Mocks_ são métodos que simulam os processos que são executados após a realização dos pagamentos, como por exemplo: liquidação de boletos, processamento de repasses, entre outros. Ressaltamos que esses métodos estão disponíveis apenas no ambiente Sandbox."
    }
  ],
  "x-tagGroups": [
    {
      "name": "",
      "tags": [
        "conta do titular",
        "webhook",
        "taxas do titular"
      ]
    },
    {
      "name": "pagamentos",
      "tags": [
        "gerenciamento de cartão",
        "pagamento com cartão",
        "pagamento com boleto",
        "configuração do split",
        "checkout transparente",
        "conclusão do pagamento",
        "cancelamento",
        "relatórios"
      ]
    },
    {
      "name": "transferência",
      "tags": [
        "repasse",
        "repasse antecipado"
      ]
    },
    {
      "name": "simulações",
      "tags": [
        "mock"
      ]
    },
    {
      "name": "formas de pagamento",
      "tags": [
        "maquininha"
      ]
    }
  ],
  "x-servers": [
    {
      "url": "//payments.paggcerto.com.br/",
      "description": "Ambiente de produção para Payments API"
    },
    {
      "url": "//payments.sandbox.paggcerto.com.br/",
      "description": "Ambiente de sandbox para Payments API"
    }
  ],
  "paths": {
    "/api/v2/fees": {
      "post": {
        "tags": [
          "taxas do titular"
        ],
        "summary": "Consultar taxas do titular",
        "description": "Com a utilização deste método são exibidas todas as taxas que foram negociadas entre o titular da conta e a Paggcerto. \n\n **Somente o titular pode consultar as taxas.**\n\n  \n# \n \n##### **POST**  http://payments.sandbox.paggcerto.com.br/api/v2/fees\n",
        "operationId": "consultar-taxas-do-titular",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/feesHolder"
            }
          }
        }
      }
    },
    "/api/v2/cards": {
      "post": {
        "tags": [
          "gerenciamento de cartão"
        ],
        "summary": "Cadastrar cartão",
        "description": "O objetivo deste método é cadastrar os dados do cartão para a realização de cobranças futuras, sem a necessidade de preencher esses dados manualmente a cada novo pagamento. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.cards.edit** \n\n  \n# \n \n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/cards\n",
        "operationId": "cadastrar-cartao",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/paymentAPI/manageCards/createCard"
            }
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/manageCards/responseCreateCard/validCreateCard"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/paymentAPI/manageCards/responseCreateCard/errorCreateCard"
            }
          },
          "422": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/paymentAPI/manageCards/responseCreateCard/invalidCreateCard"
            },
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nCARD_NOT_PROCESSED |  Cartão não processado \n\n"
              }
            }
          }
        }
      }
    },
    "/api/v2/cards ": {
      "get": {
        "tags": [
          "gerenciamento de cartão"
        ],
        "summary": "Listar cartões",
        "description": "A finalidade deste método é listar todos os cartões cadastrados. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.cards.readonly** \n\n  \n# \n \n##### **GET**   http://payments.sandbox.paggcerto.com.br/api/v2/cards\n",
        "operationId": "listar-cartoes",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "brands",
            "in": "query",
            "description": "Bandeira do cartão.",
            "required": false,
            "type": "array<string>"
          },
          {
            "name": "finals",
            "in": "query",
            "description": "Últimos dígitos impressos no cartão.",
            "required": false,
            "type": "array<string>"
          },
          {
            "name": "index",
            "in": "query",
            "description": "Índice da lista.",
            "required": false,
            "type": "number",
            "default": 0
          },
          {
            "name": "length",
            "in": "query",
            "description": "Quantidade máxima de itens retornados na lista.",
            "required": false,
            "type": "number",
            "default": 30
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/manageCards/reponseListCard/validListCard"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/paymentAPI/responsePagination/errorPagination"
            }
          }
        }
      }
    },
    "/api/v2/cards/*id*": {
      "get": {
        "tags": [
          "gerenciamento de cartão"
        ],
        "summary": "Pesquisar cartão",
        "description": "Com a utilização deste método são exibidos os dados do cartão especificado no *endpoint*. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.cards.readonly** \n\n  \n# \n \n##### **GET**   http://payments.sandbox.paggcerto.com.br/api/v2/cards/*id*\n",
        "operationId": "pesquisar-cartao",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do cartão.",
            "required": true,
            "type": "string"
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/manageCards/card"
            }
          },
          "422": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/paymentAPI/manageCards/responseInvalidCard"
            },
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nCARD_NOT_FOUND |  Cartão não encontrado \n\n"
              }
            }
          }
        }
      }
    },
    "/api/v2/cards/*id* ": {
      "delete": {
        "tags": [
          "gerenciamento de cartão"
        ],
        "summary": "Remover cartão",
        "description": "O objetivo deste método é remover o cartão especificado no *endpoint*. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.cards.edit** \n\n  \n# \n \n##### **DELETE**   http://payments.sandbox.paggcerto.com.br/api/v2/cards/*id*\n",
        "operationId": "remover-cartao",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do cartão.",
            "required": true,
            "type": "string"
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/manageCards/card"
            }
          },
          "422": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/paymentAPI/manageCards/responseInvalidCard"
            },
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nCARD_NOT_FOUND |  Cartão não encontrado \n\n"
              }
            }
          }
        }
      }
    },
    "/api/v2/bins": {
      "get": {
        "tags": [
          "pagamento com cartão"
        ],
        "summary": "Consultar bandeiras de cartão",
        "description": "Esse método retorna uma lista com todas as bandeiras aceitas pela Paggcerto e suas respectivas regras de processamento (expressões regulares). \n\n  \n# \n \n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/bins\n",
        "operationId": "consultar-bandeira-de-cartao",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/Reports/consultBrand"
            }
          }
        }
      }
    },
    "/api/v2/pay/simulate": {
      "post": {
        "tags": [
          "pagamento com cartão"
        ],
        "summary": "Simular pagamento",
        "description": "Ao utilizar este método é calculado o valor que o titular irá receber de acordo com o valor cobrado para um pagamento com cartão. \n\n  \n# \n \n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/pay/simulate\n",
        "operationId": "simular-pagamento-cartao",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/paymentAPI/CardPayment/simulatePayment"
            }
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/CardPayment/reponseSimulatePayment/validSimulatePayment"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/paymentAPI/CardPayment/reponseSimulatePayment/errorSimulatePayment"
            }
          },
          "422": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/paymentAPI/CardPayment/reponseSimulatePayment/invalidSimulatePayment"
            },
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nCARD_NOT_PROCESSED |  Cartão não processado \nMAXIMUM_INSTALLMENT_EXCEEDED | Parcela máxima excedida \nCANNOT_PROCESS_ONLINE | Processamento online não permitido \n\n"
              }
            }
          }
        }
      }
    },
    "/api/v2/pay/cards": {
      "post": {
        "tags": [
          "pagamento com cartão"
        ],
        "summary": "Efetuar pagamento",
        "description": "Esse método permite que o usuário realize um pagamento utilizando um ou mais cartões. Quando o valor do pagamento não for atingido, ele pode ser continuado com novos cartões através do método [Continuar Pagamento](#operation/continuar-pagamento). \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.create** \n\n  \n# \n \n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/pay/cards\n",
        "operationId": "efetuar-pagamento-cartao",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/paymentAPI/CardPayment/makePayment"
            }
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/CardPayment/responseMakePayment/validMakePayment"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/paymentAPI/CardPayment/responseMakePayment/errorMakePayment"
            }
          },
          "422": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/paymentAPI/invalidPayment"
            },
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nACCOUNT_NOT_APPROVED |  Conta não aprovada para realização de pagamentos \nAMOUNT_EXCEEDED | Valor(es) pago(s) excedeu o valor total do pagamento \nSELLINGKEY_ALREADY_USED | Este `sellingKey` já está sendo utilizado \nSPLITTER_NOT_FOUND | Splitter não encontrado \n\n"
              }
            }
          }
        }
      }
    },
    "/api/v2/pay/cards/*id*": {
      "post": {
        "tags": [
          "pagamento com cartão"
        ],
        "summary": "Continuar pagamento",
        "description": "A finalidade desse método é permitir que o usuário continue o pagamento que não foi finalizado (o valor do pagamento não foi atingido). \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.create** \n\n  \n# \n \n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/pay/cards/*id*\n",
        "operationId": "continuar-pagamento",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do pagamento.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/paymentAPI/CardPayment/continuePayment"
            }
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/CardPayment/responseContinuePayment/validContinuePayment"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/paymentAPI/CardPayment/responseContinuePayment/errorContinuePayment"
            }
          },
          "422": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/paymentAPI/invalidPayment"
            },
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nACCOUNT_NOT_APPROVED |  Conta não aprovada para realização de pagamentos \nAMOUNT_EXCEEDED | Valor(es) pago(s) excedeu o valor total do pagamento \nSELLINGKEY_ALREADY_USED | Este `sellingKey` já está sendo utilizado \nPAYMENT_NOT_FOUND | Pagamento não encontrado \nPAYMENT_ALREADY_COMPLETED | O pagamento está finalizado \nPAYMENT_ALREADY_CANCELED | O pagamento foi cancelado \nSPLITTER_NOT_FOUND | Splitter não encontrado \n\n"
              }
            }
          }
        }
      }
    },
    "/api/v2/card-transactions/send-receipt/*nsu*": {
      "post": {
        "tags": [
          "pagamento com cartão"
        ],
        "summary": "Enviar comprovante",
        "description": "A finalidade deste método é enviar o comprovante da transação para o cliente. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.create**  \n\n  \n# \n \n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/card-transactions/send-receipt/*nsu*\n",
        "operationId": "enviar-comprovante",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "nsu",
            "in": "path",
            "description": "Nsu da transação.",
            "required": true,
            "type": "number"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/paymentAPI/CardPayment/submitVoucher"
            }
          }
        ],
        "resultados": {
          "204": {
            "description": "No Content"
          },
          "422": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/paymentAPI/CardPayment/responseSubmitVoucher/invalidSubmitVoucher"
            },
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nCARD_TRANSACTION_NOT_FOUND |  Transação não encontrada \nCARD_TRANSACTION_REPROVED | Transação reprovada \nCARD_TRANSACTION_CANCELED | Transação cancelada \nCARD_TRANSACTION_CONTESTED | Transação contestada \nNOTIFICATION_FAILED | Falha na notificação \n\n"
              }
            }
          }
        }
      }
    },
    "/api/v2/pay/bank-slips": {
      "post": {
        "tags": [
          "pagamento com boleto"
        ],
        "summary": "Efetuar pagamento",
        "description": "Com a utilização deste método é realizado o pagamento com boletos. Por meio dele pode ser gerado apenas um ou mais boletos (carnê). \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.create** \n\n  \n# \n \n##### **POST**  http://payments.sandbox.paggcerto.com.br/api/v2/pay/bank-slips\n",
        "operationId": "efetuar-pagamento-boleto",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/paymentAPI/BankSplipPayment/generateBankSplip"
            }
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/BankSplipPayment/responseGenerateBankSplip/validGenerateBankSplip"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/paymentAPI/BankSplipPayment/responseGenerateBankSplip/errorGenerateBankSplip"
            }
          },
          "422": {
            "description": "",
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nACCOUNT_NOT_APPROVED |  Conta não aprovada para realização de pagamentos \nSPLITTER_NOT_FOUND | Splitter não encontrado \n\n"
              }
            },
            "schema": {
              "$ref": "#/definitions/paymentAPI/BankSplipPayment/invalidBankSplip"
            }
          }
        }
      }
    },
    "/api/v2/bank-slips/replace/*id*": {
      "post": {
        "tags": [
          "pagamento com boleto"
        ],
        "summary": "Substituir boleto",
        "description": "Boletos não podem ser editados. Porém, o boleto de uma parcela de carnê pode ser substituído por outro para viabilizar uma renegociação entre o lojista e seu cliente. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.create** \n\n  \n# \n \n##### **POST**  http://payments.sandbox.paggcerto.com.br/api/v2/bank-slips/replace/*id*\n",
        "operationId": "substituir-boleto",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do boleto.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/paymentAPI/BankSplipPayment/bankSplipReplace"
            }
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/BankSplipPayment/responseBankSplipReplace/validBankSplipReplace"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/paymentAPI/BankSplipPayment/responseBankSplipReplace/errorBankSplipReplace"
            }
          },
          "422": {
            "description": "",
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nBANK_SLIP_NOT_FOUND |  Boleto não encontrado \nBANK_SLIP_ALREADY_PAID | O boleto já foi pago \nBANK_SLIP_ALREADY_CANCELED | O boleto já foi cancelado \nPAYMENT_ALREADY_COMPLETED | O pagamento está finalizado \nPAYMENT_ALREADY_CANCELED | O pagamento está cancelado \n\n"
              }
            },
            "schema": {
              "$ref": "#/definitions/paymentAPI/BankSplipPayment/responseBankSplipReplace/invalidBankSplipReplace"
            }
          }
        }
      }
    },
    "/api/v2/mock/bank-slips/pay": {
      "post": {
        "tags": [
          "mock"
        ],
        "summary": "Simular liquidação de boleto",
        "description": "O objetivo deste método é realizar a simulação da liquidação dos boletos selecionados. Estes boletos são identificados através do **ID**. \n\n  \n# \n \n##### **POST**  http://payments.sandbox.paggcerto.com.br/api/v2/mock/bank-slips/pay\n",
        "operationId": "simular-liquidacao-de-boleto",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/paymentAPI/BankSplipPayment/mockBankSlips"
            }
          }
        ],
        "resultados": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/paymentAPI/BankSplipPayment/responseMockBankSlips/errorMockBankSlips"
            }
          },
          "422": {
            "description": "",
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nBANK_SLIP_NOT_FOUND |  Boleto não encontrado  \n\n"
              }
            },
            "schema": {
              "$ref": "#/definitions/paymentAPI/BankSplipPayment/respondeSingleBankSplip/invalidSingleBankSplip"
            }
          }
        }
      }
    },
    "/api/v2/bank-slips/pdf/*paymentId*": {
      "get": {
        "tags": [
          "pagamento com boleto"
        ],
        "summary": "Gerar PDF do boleto do pagamento",
        "description": "Com a utilização deste método é gerado o PDF do boleto/carnê para um pagamento. Para múltilpos pagamentos acesse o método [Gerar PDF de Boleto de Múltiplos Pagamentos](#operation/gerar-pdf-multiplos). \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.create** \n\n  \n# \n \n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/bank-slips/pdf/*paymentId*\n",
        "operationId": "gerar-pdf-do-boleto-pagamento",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/pdf"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "description": "ID do pagamento.",
            "required": true,
            "type": "string"
          }
        ],
        "resultados": {
          "200": {
            "description": "OK - application/pdf",
            "produces": [
              "application/pdf"
            ]
          },
          "422": {
            "description": "",
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nPAYMENT_NOT_FOUND | Pagamento não encontrado \nPAYMENT_WITHOUT_BANK_SLIP | Pagamento não possui boleto bancário \nPAYMENT_WITHOUT_BANK_SLIP | O pagamento não contém boleto \n\n"
              }
            },
            "schema": {
              "$ref": "#/definitions/paymentAPI/BankSplipPayment/responsePdf/invalidPdf"
            }
          }
        }
      }
    },
    "/api/v2/bank-slips/zip?payments=a0b1&payments=c2d3&payments=e4f5": {
      "get": {
        "tags": [
          "pagamento com boleto"
        ],
        "summary": "Gerar PDF de boleto de múltiplos pagamentos",
        "description": "Com a utilização deste método é gerado todos os PDFs dos boletos/carnês para cada pagamento informado no *endpoint*. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.create** \n\n  \n# \n \n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/bank-slips/zip\n",
        "operationId": "gerar-pdf-de-boleto-de-multiplos-pagamentos",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/pdf"
        ],
        "parameters": [
          {
            "name": "payments",
            "in": "query",
            "description": "Lista de `paymentId`.",
            "required": true,
            "type": "array<paymentId>"
          }
        ],
        "resultados": {
          "200": {
            "description": "OK - application/zip",
            "produces": [
              "application/pdf"
            ]
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/paymentAPI/BankSplipPayment/responsePdf/errorPdf"
            }
          },
          "422": {
            "description": "",
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nPAYMENTS_NOT_FOUND |  Pagamentos não encontrados \nPAYMENT_WITHOUT_BANK_SLIP | O pagamento não contém boleto \n\n"
              }
            },
            "schema": {
              "$ref": "#/definitions/paymentAPI/BankSplipPayment/responsePdf/invalidZip"
            }
          }
        }
      }
    },
    "/api/v2/bank-slips/pdf/single/*id*": {
      "get": {
        "tags": [
          "pagamento com boleto"
        ],
        "summary": "Gerar PDF pelo número do boleto",
        "description": "A finalidade deste método é gerar o arquivo PDF do boleto que foi especificado no *endpoint*. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.create** \n\n  \n# \n \n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/bank-slips/pdf/single/*id*\n",
        "operationId": "gerar-pdf-através-do-número-do-boleto",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/pdf"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do boleto.",
            "required": true,
            "type": "string"
          }
        ],
        "resultados": {
          "200": {
            "description": "OK - application/pdf",
            "produces": [
              "application/pdf"
            ]
          },
          "422": {
            "description": "",
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nBANK_SLIP_NOT_FOUND| Boleto não encontrado \n\n"
              }
            },
            "schema": {
              "$ref": "#/definitions/paymentAPI/BankSplipPayment/respondeSingleBankSplip/invalidSingleBankSplip"
            }
          }
        }
      }
    },
    "/api/v2/checkout/bank-slips/*id*": {
      "get": {
        "tags": [
          "checkout transparente"
        ],
        "summary": "Detalhes do boleto",
        "description": "A finalidade deste método é exibir todas as informações do boleto especificado no *endpoint*. \n\n  \n# \n \n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/checkout/bank-slips/*id*\n",
        "operationId": "detalhes-do-boleto",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/pdf"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do boleto.",
            "required": true,
            "type": "string"
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/BankSplipPayment/checkoutBankSplip"
            }
          },
          "422": {
            "description": "",
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nBANK_SLIP_NOT_FOUND| Boleto não encontrado \n\n"
              }
            },
            "schema": {
              "$ref": "#/definitions/paymentAPI/BankSplipPayment/respondeSingleBankSplip/invalidSingleBankSplip"
            }
          }
        }
      }
    },
    "/api/v2/checkout/bank-slips/*id*/pdf": {
      "get": {
        "tags": [
          "checkout transparente"
        ],
        "summary": "Gerar arquivo PDF",
        "description": "O objetivo deste método é gerar o arquivo PDF do boleto especificado no *endpoint*. \n\n  \n# \n \n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/checkout/bank-slips/*id*/pdf\n",
        "operationId": "gerar-arquivo-pdf",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/pdf"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do boleto.",
            "required": true,
            "type": "string"
          }
        ],
        "resultados": {
          "200": {
            "description": "OK - application/pdf",
            "produces": [
              "application/pdf"
            ]
          },
          "422": {
            "description": "",
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nBANK_SLIP_NOT_FOUND| Boleto não encontrado \nBANK_SLIP_CANCELED | Boleto cancelado \nBANK_SLIP_ALREADY_PAID | O boleto já foi pago \n\n"
              }
            },
            "schema": {
              "$ref": "#/definitions/paymentAPI/BankSplipPayment/respondeSingleBankSplip/invalidSingleBankSplip"
            }
          }
        }
      }
    },
    "/api/v2/splitters": {
      "post": {
        "tags": [
          "configuração do split"
        ],
        "summary": "Cadastrar recebedor ",
        "description": "A finalidade deste método é cadastrar os recebedores para *split* de pagamento. Somente o titular da conta pode cadastrar recebedores. \n\n  \n# \n \n##### **POST**  http://payments.sandbox.paggcerto.com.br/api/v2/splitters\n",
        "operationId": "cadastrar-recebedor",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/paymentAPI/SplitConfiguration/recipient"
            }
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/SplitConfiguration/responseRecipient/validRecipient"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/paymentAPI/SplitConfiguration/responseRecipient/errorRecipient"
            }
          },
          "422": {
            "description": "",
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nDUPLICATE_TAX_DOCUMENT |  CPF/CNPJ já existente \nTRANSFER_DAY_NOT_AVAILABLE | Dia para repasse não disponível \n\n"
              }
            },
            "schema": {
              "$ref": "#/definitions/paymentAPI/SplitConfiguration/responseRecipient/invalidRecipient"
            }
          }
        }
      }
    },
    "/api/v2/splitters/*id*": {
      "put": {
        "tags": [
          "configuração do split"
        ],
        "summary": "Atualizar recebedor",
        "description": "O objetivo deste método é atualizar as informações do recebedor especificado no *endpoint*. Somente o titular da conta pode atualizar recebedores. \n\n  \n# \n \n##### **PUT**  http://payments.sandbox.paggcerto.com.br/api/v2/splitters/*id*\n",
        "operationId": "atualizar-recebedor",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/paymentAPI/SplitConfiguration/recipient"
            }
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/SplitConfiguration/responseRecipient/validRecipient"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/paymentAPI/SplitConfiguration/responseRecipient/errorRecipient"
            }
          },
          "422": {
            "description": "",
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nDUPLICATE_TAX_DOCUMENT |  CPF/CNPJ já existente \nTRANSFER_DAY_NOT_AVAILABLE | Dia para repasse não disponível \n\n"
              }
            },
            "schema": {
              "$ref": "#/definitions/paymentAPI/SplitConfiguration/responseRecipient/invalidRecipient"
            }
          }
        }
      }
    },
    "/api/v2/splitters ": {
      "get": {
        "tags": [
          "configuração do split"
        ],
        "summary": "Listar recebedores ",
        "description": "O objetivo deste método é listar todos os recebedores cadastrados. Somente o titular da conta pode listar recebedores. \n\n  \n# \n \n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/splitters\n",
        "operationId": "listar-recebedores ",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Nome do recebedor.",
            "required": false,
            "type": "string"
          },
          {
            "name": "index",
            "in": "query",
            "description": "Índice da lista.",
            "required": false,
            "type": "number",
            "default": 0
          },
          {
            "name": "length",
            "in": "query",
            "description": "Quantidade máxima de itens retornados na lista.",
            "required": false,
            "type": "number",
            "default": 30
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/SplitConfiguration/responseListarRecipient"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/paymentAPI/responsePagination/errorPagination"
            }
          }
        }
      }
    },
    "/api/v2/splitters/find/*id*": {
      "get": {
        "tags": [
          "configuração do split"
        ],
        "summary": "Pesquisar recebedor",
        "description": "Esse método deve ser utilizado quando se deseja pesquisar um recebedor específico. Somente o titular da conta pode pesquisar recebedor. \n\n  \n# \n \n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/splitters/find/*id*\n",
        "operationId": "pesquisar-recebedores ",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do recebedor.",
            "required": true,
            "type": "string"
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/SplitConfiguration/informationRecipient"
            }
          },
          "422": {
            "description": "",
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nSPLITTER_NOT_FOUND | Splitter não encontrado \n\n"
              }
            },
            "schema": {
              "$ref": "#/definitions/paymentAPI/SplitConfiguration/invalidSplit"
            }
          }
        }
      }
    },
    "/api/v2/finalize/*paymentId*": {
      "post": {
        "tags": [
          "conclusão do pagamento"
        ],
        "summary": "Finalizar pagamento",
        "description": "Um pagamento é automaticamente finalizado quando a soma dos valores pagos atinge o valor esperado para o pagamento. Porém, também é possível finalizar um pagamento sem que a soma de todas as transações ou boletos pagos atingam o valor esperado para esse pagamento devido a: \n\n   - Pagamentos podem ser concluídos utilizando outra forma de pagamento (dinheiro, cheque, entre outros); \n\n   - A contratação do serviço pode ser cancelada, dessa forma os boletos futuros podem ser cancelados, porém, mantendo o que já foi pago. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.create**  \n\n  \n# \n \n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/finalize/*paymentId*\n",
        "operationId": "finalizar-pagamento",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "description": "ID do pagamento.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/paymentAPI/finalizePayment"
            }
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/responseFinalizePayment/validFinalizePayment"
            }
          },
          "422": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/paymentAPI/responseFinalizePayment/invalidFinalizePayment"
            },
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nPAYMENT_NOT_FOUND |  Pagamento não encontrado \nPAYMENT_ALREADY_COMPLETED | O pagamento está finalizado \nPAYMENT_ALREADY_CANCELED | O pagamento está cancelado \nAMOUNT_PAID_EQUAL_TO_ZERO | O total pago está zerado \n\n"
              }
            }
          }
        }
      }
    },
    "api/v2/cancel/*paymentId*": {
      "post": {
        "tags": [
          "cancelamento"
        ],
        "summary": "Cancelar pagamento",
        "description": "O cancelamento somente será efetuado se for possível cancelar todas as transações com cartão e todos os boletos. Transações com cartão somente podem ser canceladas se forem realizadas na mesma data do seu processamento. Boletos podem ser cancelados desde que estejam pendentes ou vencidos, desta forma, não é possível cancelar boletos que já foram pagos. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.create** \n\n  \n# \n \n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/cancel/*paymentId*\n",
        "operationId": "cancelar-pagamento",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "description": "ID do pagamento.",
            "required": true,
            "type": "string"
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/responseCancelPayment/validCancelPayment"
            }
          },
          "422": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/paymentAPI/responseCancelPayment/invalidCancelPayment"
            },
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nCANCELATION_TIME_EXCEEDED |  Tempo excedido para o cancelamento do pagamento com cartão \nPAYMENT_ALREADY_CANCELED | O pagamento está cancelado \nPAYMENT_ALREADY_COMPLETED | O pagamento está finalizado \nHAS_BANK_SLIP_PAID | Um ou mais boletos já foram pagos \nPAYMENT_NOT_FOUND | Pagamento não encontrado \n\n"
              }
            }
          }
        }
      }
    },
    "/api/v2/card-transactions/cancel/*nsu*": {
      "post": {
        "tags": [
          "cancelamento"
        ],
        "summary": "Cancelar transação do cartão",
        "description": "O cancelamento da transação do cartão somente será efetuado se for realizado na mesma data do seu processamento. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.create** \n\n  \n# \n \n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/card-transactions/cancel/*nsu*\n",
        "operationId": "cancelar-transacao-cartao",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "nsu",
            "in": "path",
            "description": "NSU da transação.",
            "required": true,
            "type": "number"
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/responseCancelTransaction/validCancelTransaction"
            }
          },
          "422": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/paymentAPI/responseCancelTransaction/invalidCancelTransaction"
            },
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nCANCELATION_TIME_EXCEEDED |  Tempo excedido para o cancelamento do transação \nTRANSACTION_ALREADY_CANCELED | Transação está cancelada \nTRANSACTION_REPROVED | Transação reprovada \nTRANSACTION_NOT_FOUND | Transação não encontrada \nCARD_ISSUER_ERROR | Erro do emissor do cartão\n\n"
              }
            }
          }
        }
      }
    },
    "/api/v2/bank-slips/cancel/*id*": {
      "post": {
        "tags": [
          "cancelamento"
        ],
        "summary": "Cancelar boleto",
        "description": "O cancelamento do boleto somente será efetuado se seu pagamento estiver **pendente** . \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.create** \n\n  \n# \n \n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/bank-slips/cancel/*id*\n",
        "operationId": "cancelar-boleto",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do boleto.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/paymentAPI/BankSplipPayment/cancelBankSplip"
            }
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/responseCancelBankSlips/validCancelBankSlips"
            }
          },
          "422": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/paymentAPI/responseCancelBankSlips/invalidCancelBankSlips"
            },
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nBANK_SLIP_NOT_FOUND |  Boleto não encontrado \nBANK_SLIP_ALREADY_PAID | Boleto está pago \nBANK_SLIP_ALREADY_CANCELED | Boleto está cancelado \n\n"
              }
            }
          }
        }
      }
    },
    "/api/v2/find/*paymentId*": {
      "get": {
        "tags": [
          "relatórios"
        ],
        "summary": "Detalhes do pagamento",
        "description": "O objetivo deste método é exibir todas as informações a respeito do pagamento especificado no *endpoint*. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.readonly** \n\n  \n# \n \n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/find/*paymentId*\n",
        "operationId": "detalhes-pagamento",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "description": "ID do pagamento.",
            "required": true,
            "type": "string"
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/Reports/paymentDetails"
            }
          }
        }
      }
    },
    "/api/v2/all?paymentmethod=credit&paymentmethod=bankSlip": {
      "get": {
        "tags": [
          "relatórios"
        ],
        "summary": "Consultar pagamentos",
        "description": "O objetivo deste método é listar todos os pagamentos de acordo com os dados inseridos nos filtros. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.readonly** \n\n  \n# \n \n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/all\n",
        "operationId": "consultar-pagamentos",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "nsu",
            "in": "query",
            "description": "Nsu da transação.",
            "required": false,
            "type": "number"
          },
          {
            "name": "cardBrand",
            "in": "query",
            "description": "Bandeiras do cartão: `amex`, `banesecard`, `dinersclub`, `elo`, `hipercard`, `mastercard` ou `visa`.",
            "required": false,
            "type": "string"
          },
          {
            "name": "cardFinal",
            "in": "query",
            "description": "Últimos dígitos impressos no cartão.",
            "required": false,
            "type": "string"
          },
          {
            "name": "bankslipId",
            "in": "query",
            "description": "Identificador único do boleto.",
            "required": false,
            "type": "number"
          },
          {
            "name": "note",
            "in": "query",
            "description": "Observação do pagamento.",
            "required": false,
            "type": "string"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "A partir desta data comparada com a data do pagamento.",
            "required": false,
            "pattern": "YYYY-MM-DD",
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Até esta data comparada com a data do pagamento.",
            "required": false,
            "pattern": "YYYY-MM-DD",
            "type": "string"
          },
          {
            "name": "paymentMethod",
            "in": "query",
            "description": "Modalidade em que o pagamento foi realizado: `debit`, `credit` ou `bankSlip`.",
            "required": false,
            "type": "array<string>"
          },
          {
            "name": "status",
            "in": "query",
            "description": "O *status* do pagamento pode assumir um dos seguintes valores: \n\n `paid`: Pagamento concluído; \n\n `pending`: Pagamento pendente; \n\n `delayed`: Pagamento vencido (aplicável para boleto ou carnê);  \n\n `canceled`: Pagamento cancelado; \n\n `contested`: Pagamento contestado; \n\n `reproved`: Pagamento reprovado; \n\n `registrationError`: Erro no registro (aplicável para boleto ou carnê).",
            "required": false,
            "type": "array<string>"
          },
          {
            "name": "payerName",
            "in": "query",
            "description": "Nome do pagador.",
            "required": false,
            "maxLength": 120,
            "type": "string"
          },
          {
            "name": "payerTaxDocument",
            "in": "query",
            "description": "CPF/CNPJ do pagador.",
            "required": false,
            "minLength": 14,
            "maxLength": 18,
            "type": "string"
          },
          {
            "name": "index",
            "in": "query",
            "description": "Índice da lista.",
            "required": false,
            "type": "number",
            "default": 0
          },
          {
            "name": "length",
            "in": "query",
            "description": "Quantidade máxima de itens retornados na lista.",
            "required": false,
            "type": "number",
            "default": 30
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/Reports/responseConsultPayment"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/paymentAPI/responsePagination/errorPagination"
            }
          }
        }
      }
    },
    "/api/v2/bank-slips": {
      "get": {
        "tags": [
          "relatórios"
        ],
        "summary": "Consultar boletos",
        "description": "O objetivo deste método é listar todos os pagamentos com boletos de acordo com os dados inseridos nos filtros. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.readonly** \n\n  \n# \n \n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/bank-slips\n",
        "operationId": "consultar-boletos",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "numbers",
            "in": "query",
            "description": "Nosso número impresso no boleto.",
            "required": false,
            "type": "array<string>"
          },
          {
            "name": "status",
            "in": "query",
            "description": "O *status* do pagamento pode assumir um dos seguintes valores: \n\n `paid`: Boleto pago; \n\n `pending`: Boleto a vencer; \n\n `canceled`: Boleto cancelado; \n\n `delayed`: Boleto vencido; \n\n `error`: Erro no registro do boleto; \n\n `autoCanceled`: Boleto baixado automaticamente pela instituição financeira, após determinado tempo sem realizar o pagamento.",
            "required": false,
            "type": "array<string>"
          },
          {
            "name": "createdFrom",
            "in": "query",
            "description": "A partir desta data comparada com a data de emissão do boleto.",
            "required": false,
            "pattern": "YYYY-MM-DD",
            "type": "string"
          },
          {
            "name": "createdUntil",
            "in": "query",
            "description": "Até esta data comparada com a data de emissão do boleto.",
            "required": false,
            "pattern": "YYYY-MM-DD",
            "type": "string"
          },
          {
            "name": "dueDateFrom",
            "in": "query",
            "description": "A partir desta data comparada com a data de vencimento.",
            "required": false,
            "pattern": "YYYY-MM-DD",
            "type": "string"
          },
          {
            "name": "dueDateUntil",
            "in": "query",
            "description": "Até esta data comparada com a data de vencimento.",
            "required": false,
            "pattern": "YYYY-MM-DD",
            "type": "string"
          },
          {
            "name": "index",
            "in": "query",
            "description": "Índice da lista.",
            "required": false,
            "type": "number",
            "default": 0
          },
          {
            "name": "length",
            "in": "query",
            "description": "Quantidade máxima de itens retornados na lista.",
            "required": false,
            "type": "number",
            "default": 30
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/Reports/responseConsultBankSplips"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/paymentAPI/responsePagination/errorPagination"
            }
          }
        }
      }
    },
    "/api/v2/statistics/hourly": {
      "get": {
        "tags": [
          "relatórios"
        ],
        "summary": "Pagamentos por horário",
        "description": "A finalidade deste método é exibir a estatística de pagamentos por horário (no formato 24 horas) durante os últimos doze meses. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.statistics.readonly** \n# \n \n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/statistics/hourly\n",
        "operationId": "pagamentos-por-horário",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/Reports/responseHourlyPayment"
            }
          }
        }
      }
    },
    "/api/v2/statistics/weekly": {
      "get": {
        "tags": [
          "relatórios"
        ],
        "summary": "Pagamentos por dia da semana",
        "description": "O objetivo deste método é exibir a estatística de pagamentos por dia da semana (domingo a sabado) durante os últimos doze meses. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.statistics.readonly** \n# \n \n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/statistics/weekly\n",
        "operationId": "pagamentos-por-dia-da-semana",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/Reports/responseWeeklyPayment"
            }
          }
        }
      }
    },
    "/api/v2/statistics/monthly": {
      "get": {
        "tags": [
          "relatórios"
        ],
        "summary": "Pagamentos por mês",
        "description": "A finalidade deste método é exibir a estatística de pagamentos por mês durante os últimos doze meses. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.statistics.readonly** \n# \n \n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/statistics/monthly\n",
        "operationId": "pagamentos-por-mes",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/Reports/responseMonthPayment"
            }
          }
        }
      }
    },
    "/api/v2/statistics/yearly": {
      "get": {
        "tags": [
          "relatórios"
        ],
        "summary": "Pagamentos por ano",
        "description": "O propósito deste método é exibir o valor total dos pagamentos realizados durante o ano. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.statistics.readonly** \n# \n \n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/statistics/yearly\n",
        "operationId": "pagamentos-por-ano",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/Reports/responseYearlyPayment"
            }
          }
        }
      }
    },
    "/api/v2/statistics/payment-methods": {
      "get": {
        "tags": [
          "relatórios"
        ],
        "summary": "Estatísticas por método de pagamento",
        "description": "O objetivo deste método é exibir as porcentagens de utilização de cada método de pagamento durante os últimos doze meses. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.statistics.readonly** \n# \n \n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/statistics/payment-methods\n",
        "operationId": "estatistica-por-metodo-de-pagamento",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/Reports/responsePaymentMethods"
            }
          }
        }
      }
    },
    "/api/v2/statistics/bank-slips-current-month": {
      "get": {
        "tags": [
          "relatórios"
        ],
        "summary": "Pagamentos com boleto no mês atual",
        "description": "A finalidade deste método é exibir as porcentagens dos pagamentos com boletos no mês atual. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.statistics.readonly** \n# \n \n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/statistics/bank-slips-current-month\n",
        "operationId": "pagamentos-com-boleto-no-mes-atual",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/Reports/responseBankSlipsCurrentMonth"
            }
          }
        }
      }
    },
    "/api/v2/transfers/balance": {
      "get": {
        "tags": [
          "repasse"
        ],
        "summary": "Consultar saldo de repasse",
        "description": "A finalidade deste método é exibir as informações do saldo de repasse. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.transfer.readonly** \n# \n \n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/transfers/balance\n",
        "operationId": "consultar-saldo-de-repasse",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/Transfer/consultBalance"
            }
          }
        }
      }
    },
    "/api/v2/transfers": {
      "get": {
        "tags": [
          "repasse"
        ],
        "summary": "Históricos do repasse do titular",
        "description": "O objetivo deste método é exibir os repasse efetivados do titular da conta. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.transfer.readonly** \n# \n \n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/transfers\n",
        "operationId": "historicos-do-repasse-do-titular",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "A partir desta data comparada com a data do repasse.",
            "required": false,
            "pattern": "YYYY-MM-DD",
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Até esta data comparada com a data do repasse.",
            "required": false,
            "pattern": "YYYY-MM-DD",
            "type": "string"
          },
          {
            "name": "accountNumber",
            "in": "query",
            "required": false,
            "description": "Número da conta bancária.",
            "maxLength": 30,
            "type": "string"
          },
          {
            "name": "taxDocument",
            "in": "query",
            "description": "CPF/CNPJ do titular da conta bancária.",
            "required": false,
            "pattern": "CPF: 000.000.000-00 ou CNPJ: 00.000.000/0000-00",
            "type": "string"
          },
          {
            "name": "amount",
            "in": "query",
            "description": "Valor do repasse.",
            "required": false,
            "pattern": "Valor monetário",
            "type": "number"
          },
          {
            "name": "index",
            "in": "query",
            "description": "Índice da lista.",
            "required": false,
            "type": "number",
            "default": 0
          },
          {
            "name": "length",
            "in": "query",
            "description": "Quantidade máxima de itens retornados na lista.",
            "required": false,
            "type": "number",
            "default": 30
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/Transfer/historic"
            }
          }
        }
      }
    },
    "/api/v2/transfers/*id*": {
      "get": {
        "tags": [
          "repasse"
        ],
        "summary": "Detalhes do repasse",
        "description": "O obejtivo deste método é exibir todas as informações a respeito do repasse especificado no *endpoint*. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.transfer.readonly** \n# \n \n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/transfers/*id*\n",
        "operationId": "detalhes-do-repasse",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do repasse.",
            "required": true,
            "type": "string"
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/Transfer/responseDetailsTransfer/validDetailsTransfer"
            }
          },
          "422": {
            "description": "",
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nTRANSFER_NOT_FOUND | Repasse não encontrado \n\n"
              }
            },
            "schema": {
              "$ref": "#/definitions/paymentAPI/Transfer/responseDetailsTransfer/invalidDetailsTransfer"
            }
          }
        }
      }
    },
    "/api/v2/transfers/*id*/movements": {
      "get": {
        "tags": [
          "repasse"
        ],
        "summary": "Movimentações do repasse",
        "description": "A finalidade deste método é exibir as movimentações do repasse especificado no *endpoint*. Uma movimentação pode ser proveniente de uma transação de cartão, liquidação de boleto ou outro crédito/débito.  \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.transfer.readonly** \n# \n \n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/transfers/*id*/movements\n",
        "operationId": "movimentacoes-do-repasse",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do repasse.",
            "required": true,
            "type": "string"
          },
          {
            "name": "types",
            "in": "query",
            "description": "O *types* pode conter um ou mais dos seguintes valores: `cardTransaction`, `bankSlip` ou `other`.",
            "required": false,
            "type": "number"
          },
          {
            "name": "index",
            "in": "query",
            "description": "Índice da lista.",
            "required": false,
            "type": "number",
            "default": 0
          },
          {
            "name": "length",
            "in": "query",
            "description": "Quantidade máxima de itens retornados na lista.",
            "required": false,
            "type": "number",
            "default": 30
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/Transfer/responseMovementsTransfer/validMovementsTransfer"
            }
          },
          "422": {
            "description": "",
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nTRANSFER_NOT_FOUND | Repasse não encontrado \n\n"
              }
            },
            "schema": {
              "$ref": "#/definitions/paymentAPI/Transfer/responseMovementsTransfer/invalidMovementsTransfer"
            }
          }
        }
      }
    },
    "/api/v2/transfers/scheduled": {
      "get": {
        "tags": [
          "repasse"
        ],
        "summary": "Listar repasses futuros",
        "description": "A finalidade deste método é exibir todas as informações dos próximos repasse do titular da conta.  \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.transfer.readonly** \n# \n \n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/transfers/scheduled\n",
        "operationId": "listar-repasses-futuros",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "A partir desta data comparada com a data do próximo repasse.",
            "required": false,
            "pattern": "YYYY-MM-DD",
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Até esta data comparada com a data do próximo repasse.",
            "required": false,
            "pattern": "YYYY-MM-DD",
            "type": "string"
          },
          {
            "name": "index",
            "in": "query",
            "description": "Índice da lista.",
            "required": false,
            "type": "number",
            "default": 0
          },
          {
            "name": "length",
            "in": "query",
            "description": "Quantidade máxima de itens retornados na lista.",
            "required": false,
            "type": "number",
            "default": 30
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/Transfer/responseNextTransfers/validNextTransfers"
            }
          }
        }
      }
    },
    "/api/v2/transfers/scheduled/*date*": {
      "get": {
        "tags": [
          "repasse"
        ],
        "summary": "Detalhes de um repasse futuro",
        "description": "O objetivo deste método é exibir todas as informações do próximo repasse correspondente a data que foi informada no *endpoint*.  \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.transfer.readonly** \n# \n \n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/transfers/scheduled/*date*\n",
        "operationId": "detalhes-de-um-repasse-futuro",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "Data do próximo repasse.",
            "required": true,
            "pattern": "YYYY-MM-DD",
            "type": "string"
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/Transfer/responseScheduledTransfer/validScheduledTransfer"
            }
          },
          "422": {
            "description": "",
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nTRANSFER_NOT_FOUND | Repasse não encontrado \n\n"
              }
            },
            "schema": {
              "$ref": "#/definitions/paymentAPI/Transfer/responseScheduledTransfer/invalidScheduledTransfer"
            }
          }
        }
      }
    },
    "/api/v2/transfers/scheduled/*date*/movements": {
      "get": {
        "tags": [
          "repasse"
        ],
        "summary": "Movimentações de um repasse futuro",
        "description": "A finalidade deste método é exibir as movimentações do repasse futuro de acordo com a data especificada no *endpoint*. Uma movimentação pode ser proveniente de uma transação de cartão, liquidação de boleto ou outro crédito/débito.  \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.transfer.readonly** \n# \n \n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/transfers/scheduled/*date*/movements\n",
        "operationId": "movimentacoes-de-um-repasse-futuro",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "Data do repasse futuro.",
            "required": true,
            "type": "string"
          },
          {
            "name": "types",
            "in": "query",
            "description": "O *types* pode conter um ou mais dos seguintes valores: `cardTransaction`, `bankSlip` ou `other`.",
            "required": false,
            "type": "number"
          },
          {
            "name": "index",
            "in": "query",
            "description": "Índice da lista.",
            "required": false,
            "type": "number",
            "default": 0
          },
          {
            "name": "length",
            "in": "query",
            "description": "Quantidade máxima de itens retornados na lista.",
            "required": false,
            "type": "number",
            "default": 30
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/Transfer/responseScheduledTransfer/validScheduledTransfer"
            }
          },
          "422": {
            "description": "",
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nTRANSFER_NOT_FOUND | Repasse não encontrado \n\n"
              }
            },
            "schema": {
              "$ref": "#/definitions/paymentAPI/Transfer/responseScheduledTransfer/invalidScheduledTransfer"
            }
          }
        }
      }
    },
    "/api/v2/anticipations/accept-term": {
      "post": {
        "tags": [
          "repasse antecipado"
        ],
        "summary": "Aceitar termo",
        "description": "O objetivo deste método é aceitar os termos de acordo para realização do repasse antecipado. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.anticipation.create** \n\n  \n# \n \n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/anticipations/accept-term\n",
        "operationId": "aceitar-termo",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "resultados": {
          "204": {
            "description": "No Content"
          },
          "422": {
            "description": "",
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nTERMS_ALREADY_ACCEPTED | Os termos estão aceitos \n\n"
              }
            },
            "schema": {
              "$ref": "#/definitions/paymentAPI/AdvancePass/responseAcceptTerm/invalidAcceptTerm"
            }
          }
        }
      }
    },
    "/api/v2/anticipations/can-anticipate": {
      "get": {
        "tags": [
          "repasse antecipado"
        ],
        "summary": "Pode antecipar?",
        "description": "A finalidade deste método é informar se o titular pode realizar a solicitação do repasse antecipado. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.anticipation.readonly** \n\n  \n# \n \n##### **GET**   http://payments.sandbox.paggcerto.com.br/api/v2/anticipations/can-anticipate\n",
        "operationId": "pode-antecipar",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/AdvancePass/responseCanAnticipate"
            }
          }
        }
      }
    },
    "/api/v2/anticipations/new-request/all-card-transactions": {
      "post": {
        "tags": [
          "repasse antecipado"
        ],
        "summary": "Solicitar antecipação de todas as transações",
        "description": "Com a utilização deste método é realizado a solicitação do repasse antecipado de todas transações. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.anticipation.create** \n\n  \n# \n \n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/anticipations/new-request/all-card-transactions\n",
        "operationId": "solicitar-antecipacao-de-todas-as-transacoes",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/AdvancePass/responseAllCardTransactions/validAllCardTransactions"
            }
          },
          "422": {
            "description": "",
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nANTICIPATION_UNAVAILABLE |  Antecipação indisponível \nHAS_NOT_CARD_TRANSACTIONS | Não existe transação antecipável\n\n"
              }
            },
            "schema": {
              "$ref": "#/definitions/paymentAPI/AdvancePass/invalidAdvancePass"
            }
          }
        }
      }
    },
    "/api/v2/anticipations/card-transactions-available": {
      "get": {
        "tags": [
          "repasse antecipado"
        ],
        "summary": "Listar transações antecipáveis",
        "description": "O propósito deste método é exibir todas as transações que podem ser antecipadas. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.anticipation.edit** \n# \n \n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/anticipations/card-transactions-available\n",
        "operationId": "lista-transacoes-antecipaveis",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "nsu",
            "in": "query",
            "description": "Nsu da transação.",
            "required": false,
            "type": "number"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "A partir desta data comparada com a data da transação.",
            "required": false,
            "pattern": "YYYY-MM-DD",
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Até esta data comparada com a data da transação.",
            "required": false,
            "pattern": "YYYY-MM-DD",
            "type": "string"
          },
          {
            "name": "index",
            "in": "query",
            "description": "Índice da lista.",
            "required": false,
            "type": "number",
            "default": 0
          },
          {
            "name": "length",
            "in": "query",
            "description": "Quantidade máxima de itens retornados na lista.",
            "required": false,
            "type": "number",
            "default": 30
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/AdvancePass/responseTransactionsAvailable/validTransactionsAvailable"
            }
          }
        }
      }
    },
    "/api/v2/anticipations/new-request/selected-card-transactions": {
      "post": {
        "tags": [
          "repasse antecipado"
        ],
        "summary": "Solicitar antecipação",
        "description": "O objetivo deste método é realizar a solicitação do repasse antecipado das transações selecionadas. Estas transações são identificadas através do **nsu**. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.anticipation.create** \n\n  \n# \n \n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/anticipations/new-request/selected-card-transactions\n",
        "operationId": "solicitar-antecipacao",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/paymentAPI/AdvancePass/solicitAnticipation"
            }
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/AdvancePass/responseSolicitAnticipation/validSolicitAnticipation"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/paymentAPI/AdvancePass/responseSolicitAnticipation/errorSolicitAnticipation"
            }
          },
          "422": {
            "description": "",
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nANTICIPATION_UNAVAILABLE |  Antecipação indisponível \nCARD_TRANSACTION_ALREADY_TRANSFERED | Transferência já realizada \nCARD_TRANSACTION_CANCELED |  Transação cancelada \nCARD_TRANSACTION_NOT_FOUND| Transação não encontrada \nCARD_TRANSACTION_REPROVED | Transação reprovada \nCARD_TRANSACTION_UNAVAILABLE | Antecipação reprovada duas vezes ou transação realizada no mesmo dia da solicitação \nCARD_TRANSACTION_ALREADY_ANTICIPATED | Nsu já antecipado \n\n"
              }
            },
            "schema": {
              "$ref": "#/definitions/paymentAPI/AdvancePass/invalidAdvancePass"
            }
          }
        }
      }
    },
    "/api/v2/anticipations/in-progress": {
      "get": {
        "tags": [
          "repasse antecipado"
        ],
        "summary": "Solicitação em andamento",
        "description": "O propósito deste método é exibir os detalhes da solicitação que está em andamento. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.anticipation.readonly** \n# \n \n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/anticipations/in-progress\n",
        "operationId": "solicitacao-em-andamento",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/AdvancePass/responseAllCardTransactions/validAllCardTransactions"
            }
          },
          "422": {
            "description": "",
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nANTICIPATION_NOT_FOUND | Não existe socilitação \n\n"
              }
            },
            "schema": {
              "$ref": "#/definitions/paymentAPI/AdvancePass/invalidAnticipation"
            }
          }
        }
      }
    },
    "/api/v2/anticipations/*anticipationId*": {
      "get": {
        "tags": [
          "repasse antecipado"
        ],
        "summary": "Detalhes da solicitação",
        "description": "O objetivo deste método é exibir todas as informações a respeito da solicitação especificada no *endpoint*. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.anticipation.readonly** \n# \n \n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/anticipations/*anticipationId*\n",
        "operationId": "detalhes-da-solicitacao",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "anticipationId",
            "in": "path",
            "description": "ID da solicitação.",
            "required": true,
            "type": "string"
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/AdvancePass/anticipationDetails"
            }
          },
          "422": {
            "description": "",
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nANTICIPATION_NOT_FOUND | Socilitação não encontrada \n\n"
              }
            },
            "schema": {
              "$ref": "#/definitions/paymentAPI/AdvancePass/invalidAnticipation"
            }
          }
        }
      }
    },
    "/api/v2/anticipations/in-progress/card-transactions": {
      "get": {
        "tags": [
          "repasse antecipado"
        ],
        "summary": "Listar transações em andamento",
        "description": "Ao utilizar este método são listadas todas as transações que estão com a solicitação da antecipação em andamento. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.anticipation.readonly** \n\n  \n# \n \n##### **GET**   http://payments.sandbox.paggcerto.com.br/api/v2/anticipations/in-progress/card-transactions\n",
        "operationId": "listar-transacoes-em-andamento",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "nsu",
            "in": "query",
            "description": "Nsu da transação.",
            "required": false,
            "type": "number"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "A partir desta data comparada com a data da solicitação da antecipação.",
            "required": false,
            "pattern": "YYYY-MM-DD",
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Até esta data comparada com a data da solicitação da antecipação.",
            "required": false,
            "pattern": "YYYY-MM-DD",
            "type": "string"
          },
          {
            "name": "index",
            "in": "query",
            "description": "Índice da lista.",
            "required": false,
            "type": "number",
            "default": 0
          },
          {
            "name": "length",
            "in": "query",
            "description": "Quantidade máxima de itens retornados na lista.",
            "required": false,
            "type": "number",
            "default": 30
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/AdvancePass/responseListTransactionsInProgress"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/paymentAPI/responsePagination/errorPagination"
            }
          }
        }
      }
    },
    "/api/v2/anticipations/*anticipationId*/card-transactions": {
      "get": {
        "tags": [
          "repasse antecipado"
        ],
        "summary": "Listar transações da solicitação",
        "description": "Com a utilização deste método são exibidas todas as transações da solicitação especificada no *endpoint*. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.anticipation.readonly** \n# \n \n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/anticipations/*anticipationId*/card-transactions\n",
        "operationId": "listar-transacoes-da-solicitacao",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "anticipationId",
            "in": "path",
            "description": "ID da solicitação.",
            "required": true,
            "type": "string"
          },
          {
            "name": "nsu",
            "in": "query",
            "description": "Nsu da transação.",
            "required": false,
            "type": "number"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "A partir desta data comparada com a data da solicitação da antecipação.",
            "required": false,
            "pattern": "YYYY-MM-DD",
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Até esta data comparada com a data da solicitação da antecipação.",
            "required": false,
            "pattern": "YYYY-MM-DD",
            "type": "string"
          },
          {
            "name": "index",
            "in": "query",
            "description": "Índice da lista.",
            "required": false,
            "type": "number",
            "default": 0
          },
          {
            "name": "length",
            "in": "query",
            "description": "Quantidade máxima de itens retornados na lista.",
            "required": false,
            "type": "number",
            "default": 30
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/AdvancePass/responseListTransactions"
            }
          },
          "422": {
            "description": "",
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nANTICIPATION_NOT_FOUND | Socilitação não encontrada \n\n"
              }
            },
            "schema": {
              "$ref": "#/definitions/paymentAPI/AdvancePass/invalidAnticipation"
            }
          }
        }
      }
    },
    "/api/v2/anticipations": {
      "get": {
        "tags": [
          "repasse antecipado"
        ],
        "summary": "Histórico de solicitações de antecipações",
        "description": "O objetivo deste método é exibir todas as solicitações de antecipações. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.anticipation.readonly** \n\n  \n# \n \n##### **GET**   http://payments.sandbox.paggcerto.com.br/api/v2/anticipations\n",
        "operationId": "historico-de-solicitacoes-de-antecipacoes",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "A partir desta data comparada com a data da solicitação da antecipação.",
            "required": false,
            "pattern": "YYYY-MM-DD",
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Até esta data comparada com a data da solicitação da antecipação.",
            "required": false,
            "pattern": "YYYY-MM-DD",
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "O *status* da solicitação pode assumir um dos seguintes valores: \n\n `approved`: Socilitação aprovada; \n\n `pending`: Solicitação pendente; \n\n `reproved`: Solicitação reprovada; \n\n `partiallyApproved`: Solicitação parcialmente aprovada.",
            "required": false,
            "type": "string"
          },
          {
            "name": "index",
            "in": "query",
            "description": "Índice da lista.",
            "required": false,
            "type": "number",
            "default": 0
          },
          {
            "name": "length",
            "in": "query",
            "description": "Quantidade máxima de itens retornados na lista.",
            "required": false,
            "type": "number",
            "default": 30
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/AdvancePass/responseHistory"
            }
          }
        }
      }
    },
    "/api/v2/payment-devices": {
      "get": {
        "tags": [
          "maquininha"
        ],
        "summary": "Consultar modelos de maquininha",
        "description": "A finalidade deste método é exibir todos os modelos de maquininhas disponíveis na Paggcerto. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.devices.readonly** \n\n  \n# \n \n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/payment-devices\n",
        "operationId": "consultar-modelos-de-maquininha",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentAPI/paymentForms/responseConsultMachine"
            }
          }
        }
      }
    },
    "/api/v2/payment-devices/buy": {
      "post": {
        "tags": [
          "maquininha"
        ],
        "summary": "Comprar maquininha",
        "description": "O objetivo deste método é comprar maquininha junto a Paggcerto. **Somente o titular da conta pode comprar maquininha.** \n\n  \n# \n \n##### **POST**  http://payments.sandbox.paggcerto.com.br/api/v2/payment-devices/buy\n",
        "operationId": "comprar-maquininha",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/paymentAPI/paymentForms/buyMachine"
            }
          }
        ],
        "resultados": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/paymentAPI/paymentForms/responseBuyMachine/errorBuyMachine"
            }
          },
          "422": {
            "description": "",
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nPAYMENT_FAILED |  Falha no pagamento \nPAYMENT_DEVICE_UNAVAILABLE | Maquininha indisponível \nACCOUNT_NOT_APPROVED | Conta do titular não aprovada \n\n"
              }
            },
            "schema": {
              "$ref": "#/definitions/paymentAPI/paymentForms/responseBuyMachine/invalidBuyMachine"
            }
          }
        }
      }
    },
    "/api/v2/payment-devices/purchases": {
      "get": {
[...]
