{
  "swagger": "2.0",
  "schemes": [
    "http",
    "https"
  ],
  "host": "desenvolvedor.paggcerto.com.br",
  "basePath": "/v2",
  "info": {
    "description": "\n## Você já possui seu Token de Acesso? \n\n Acesse nossa documentação sobre a [Account API](https://desenvolvedor.paggcerto.com.br/v2/account/#) e obtenha mais informações. \n# Requisições para API \n A comunicação é realizada através de requisições HTTP enviadas para nossas APIs, considerando os cabeçalhos (*header*) e o *status code* da resposta. A seguir estão descritos os cabeçalhos e cada *status code*.  \n## Header \n \n\n No *header* de cada requisição você deve informar o Token de Acesso, que é gerado a partir do método [Autenticar com Credenciais](https://desenvolvedor.paggcerto.com.br/v2/account/#operation/autenticar-com-credenciais) ou [Criar Nova Senha](https://desenvolvedor.paggcerto.com.br/v2/account/#operation/criar-nova-senha). \n Abaixo está o modelo de como nosso *header* é composto: \n\n  *Authorization:* bearer Token de Acesso \n\n   *Content-Type:* Tipo de conteúdo \n\n De acordo com nosso modelo de *header*, criamos o exemplo a seguir: \n\n     Authorization: bearer eyJhbGciOiJIUcCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb9yZ \n\n     Content-Type: application/json \n## Status Code \n \n\n A tabela abaixo apresenta cada *status code* e suas descrições: \n\nCódigo  | Nome | Descrição\n----------------|-------------|---------\n200 | OK | Requisição processada com sucesso \n204 | No Content | Requisição processada com sucesso, porém nenhum conteúdo foi retornado \n400 | Bad Request | Falha no processamento da requisição ocasionada por erro na formatação do JSON ou de seus parâmetros \n401 | Unauthorized | Usuário não autenticado (credenciais incorretas ou token inválido) \n403 | Forbidden | Usuário autenticado, porém sem permissão (acesso negado) \n404 | Not Found | URL requisitada não existe \n422 | Unprocessable Entity | Falha no processamento da requisição ocasionada por validações internas não atendidas \n500 | Internal Server Error | Erro interno no servidor durante processamento da requisição \n\n",
    "version": "2.0.0",
    "title": "Paggcerto",
    "contato": {
      "e-mail": "atendimento@paggcerto.com.br",
      "url": "paggcerto.com.br"
    },
    "x-logo": {
      "url": "https://paggcerto.com.br/logo-paggcerto.png"
    }
  },
  "tags": [
    {
      "name": "cartão",
      "description": "Cartão é um meio que possibilita o pagamento à vista ou parcelado de produtos e serviços, quando são obedecidos os requisitos pré-determinados, por exemplo: validade, limite financeiro do cartão, nome do titular do cartão, código de segurança. Nesta API são exibidos os métodos para sua utilização. \n\n A tabela abaixo apresenta alguns cartões para a realização de testes em nosso ambiente sandbox:   \n\nBandeira  | Nome do titular | Nº do cartão | Data de validade | CVV\n----------------|-------------|---------|-------------|---------\nVISA com 16 dígitos | Maria dos Santos | 4556715727320767 | 04/2019 | 510\nVISA com 13 dígitos (antigo) | Maria dos Santos | 4485118925972 | 12/2019 | 234\nMASTER | Maria dos Santos | 5394639562621308 | 02/2019 | 541\nHIPER | Maria dos Santos | 6062824871327768 | 12/2018 | 574\n \n\n"
    },
    {
      "name": "boleto",
      "description": "Boleto é um título de cobrança que pode ser pago em qualquer instituição ou estabelecimento conveniado (casas lotéricas, em postos dos Correios, em caixas eletrônicos e pelo acesso ao internet banking ou aplicativos de smartphones e tablets.), até a data de vencimento indicada. Alguns destes, possuem orientações para que seu portador possa realizar o pagamento mesmo após a data preestabelecida como vencimento, indicando acréscimos como juros, multas e demais condições, além destes tipos de orientações, também pode ser indicado informações a respeito de desconto, caso o pagamento seja realizado até a data do vencimento. Esta Api exibi os métodos que estão relacionados à sua utilização."
    },
    {
      "name": "repasse",
      "description": "Ao utilizar a API de pagamento, você poderá realizar operações de repasse. A seguir são apresentados os métodos para consulta e assoiação dos repasses."
    },
    {
      "name": "repasse antecipado",
      "description": "O repasse antecipado de recebíveis é uma operação de crédito em que o lojista recebe o valor de suas vendas de uma única vez, ao invés de receber a cada mês."
    },
    {
      "name": "conclusão do pagamento",
      "description": "É possível finalizar um pagamento sem que a soma de todas as transações ou boletos pagos atingam o valor esperado devido as seguintes possibilidades: \n\n Pagamentos podem ser concluídos futuramente utilizando outra forma de pagamento (dinheiro, cheque, entre outros); \n\n A contratação do serviço pode ser cancelada a qualquer momento, dessa forma os boletos futuros podem ser cancelados, porém, mantendo o que já foi pago."
    }
  ],
  "x-tagGroups": [
    {
      "name": "pagamento",
      "tags": [
        "cartão",
        "boleto",
        "conclusão do pagamento",
        "cancelamento",
        "relatórios"
      ]
    },
    {
      "name": "transferência",
      "tags": [
        "repasse",
        "repasse antecipado",
        "relatório"
      ]
    }
  ],
  "x-servers": [
    {
      "url": "//payments.paggcerto.com.br/",
      "description": "Ambiente de produção para Payments API"
    },
    {
      "url": "//payments.sandbox.paggcerto.com.br/",
      "description": "Ambiente de sandbox para Payments API"
    }
  ],
  "paths": {
    "/api/v2/bins": {
      "get": {
        "tags": [
          "cartão"
        ],
        "summary": "Consultar Bandeiras de Cartão",
        "description": "Esse método retorna uma lista com todas as bandeiras aceitas pela Paggcerto e suas respectivas regras de processamento. \n\n Para ter acesso a esse método, é necessário realizar a [Autenticação](https://desenvolvedor.paggcerto.com.br/v2/account/#tag/autenticacao). \n\n  \n# \n \n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/bins\n",
        "operationId": "consultarBandeira",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APIPagamento/Consultas/consultarBandeira"
            }
          }
        }
      }
    },
    "/api/v2/pay/simulate": {
      "post": {
        "tags": [
          "cartão"
        ],
        "summary": "Simulador de Pagamento",
        "description": "A finalidade deste simulador é calcular o valor a cobrar e a receber pelo lojista, quando for realizado um pagamento com cartão. \n\n Para ter acesso a esse método, é necessário realizar a [Autenticação](https://desenvolvedor.paggcerto.com.br/v2/account/#tag/autenticacao). \n\n  \n# \n \n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/pay/simulate\n",
        "operationId": "simuladorPagamento",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/APIPagamento/simularPagamento"
            }
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APIPagamento/ResSimularPagamento/ValSimularPagamento"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIPagamento/ResSimularPagamento/BadSimularPagamento"
            }
          }
        }
      }
    },
    "/api/v2/pay/online": {
      "post": {
        "tags": [
          "cartão"
        ],
        "summary": "Pagamento Digitado",
        "description": "Esse método permite que o usuário realize um pagamento digitado, sendo que este pagamento pode ser realizado com a utilização de um ou mais cartões. Se o valor do pagamento for menor que valor da venda, o pagamento será considerado múltiplo e deve seguir as instruções do método [Continuar Pagamento Digitado](#operation/continuarPagamentoDigitado). \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.create** \n\n  \n# \n \n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/pay/online\n",
        "operationId": "pagamentoDigitado",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/APIPagamento/digitado/realizarVenda"
            }
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APIPagamento/digitado/ResRealizarVenda/ValRealizarVenda"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIPagamento/digitado/ResRealizarVenda/BadRealizarVenda"
            }
          },
          "422": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/APIPagamento/InVenda"
            },
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nCARD_NOT_PROCESSED |  Cartão não processado pela Paggcerto \nPAYMENT_REPROVED | O pagamento foi reprovado \nAMEX_MAXIMUM_INSTALLMENT_EXCEEDED | O número máximo de parcelas da bandeira AMEX foi excedido \nELO_MAXIMUM_INSTALLMENT_EXCEEDED | O número máximo de parcelas da bandeira ELO foi excedido \nUSER_LOCKED_TO_SELL | Usuário bloqueado para realizar vendas \nAMOUNT_EXCEEDED | Valor excedido \nSELLINGKEY_ALREADY_USED | Este sellingKey já está sendo utilizado \n\n"
              }
            }
          }
        }
      }
    },
    "/api/v2/pay/online/*id*": {
      "post": {
        "tags": [
          "cartão"
        ],
        "summary": "Continuar Pagamento Digitado",
        "description": "A finalidade desse método é permitir que o usuário continue o pagamento digitado que não foi finalizado, para isso, basta inserir o **id** da venda no endpoint do método. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.create** \n\n  \n# \n \n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/pay/online/*id*\n",
        "operationId": "continuarPagamentoDigitado",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID para continuação do pagamento.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/APIPagamento/digitado/realizarVendaMulti"
            }
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APIPagamento/digitado/ResVendaMulti/ValVenda"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIPagamento/digitado/ResRealizarVenda/BadRealizarVenda"
            }
          },
          "422": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/APIPagamento/InVenda"
            },
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nCARD_NOT_PROCESSED |  Cartão não processado pela Paggcerto \nPAYMENT_REPROVED | O pagamento foi reprovado \nAMEX_MAXIMUM_INSTALLMENT_EXCEEDED | O número máximo de parcelas da bandeira AMEX foi excedido \nELO_MAXIMUM_INSTALLMENT_EXCEEDED | O número máximo de parcelas da bandeira ELO foi excedido  \nUSER_LOCKED_TO_SELL | Usuário bloqueado para realizar vendas \nAMOUNT_EXCEEDED | Valor excedido  \nPAYMENT_NOT_FOUND | Pagamento não encontrado \nPAYMENT_ALREADY_COMPLETED | O pagamento está completo \nPAYMENT_ALREADY_CANCELLED | O pagamento foi cancelado \n\n"
              }
            }
          }
        }
      }
    },
    "/api/v2/pay/pinpad": {
      "post": {
        "tags": [
          "cartão"
        ],
        "summary": "Pagamento com Pinpad",
        "description": "Esse método permite que o usuário realize um pagamento com pinpad utilizando lightbox. Se o valor pago for menor que valor total do pagamento, ele será considerado múltiplo e deve seguir as instruções do método [Continuar Pagamento com PinPad](#operation/continuarPagamentoPinpad). \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.create** \n\n  \n# \n \n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/pay/pinpad\n",
        "operationId": "pagamentoPinpad",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/APIPagamento/pinPad/vendaPinpad"
            }
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APIPagamento/pinPad/ResVenda/ValVenda"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIPagamento/pinPad/ResVenda/BadVenda"
            }
          },
          "422": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/APIPagamento/pinPad/ResVenda/InVenda"
            },
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nCARD_NOT_PROCESSED |  Cartão não processado pela Paggcerto \nUSER_LOCKED_TO_SELL | Usuário bloqueado para realizar transações \nAMOUNT_EXCEEDED | Valor excedido \nSELLINGKEY_ALREADY_USED | Este sellingKey já está sendo utilizado \n\n"
              }
            }
          }
        }
      }
    },
    "/api/v2/pay/pinpad/*id*": {
      "post": {
        "tags": [
          "cartão"
        ],
        "summary": "Continuar Pagamento com Pinpad",
        "description": "A finalidade deste método é realizar uma transação com pagamento múltiplo, ou seja, utilizando mais de um cartão (crédito ou débito). Para isso é necessário continuar o pagamento inserindo seu **id** no endpoint. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.create**  \n\n  \n# \n \n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/pay/pinpad/*id*\n",
        "operationId": "continuarPagamentoPinpad",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do pagamento que está sendo processado.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/APIPagamento/pinPad/vendaPinpadMulti"
            }
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APIPagamento/pinPad/ResVendaMulti/ValVenda"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIPagamento/pinPad/ResVendaMulti/BadVenda"
            }
          },
          "422": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/APIPagamento/pinPad/ResVendaMulti/InVenda"
            },
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nCARD_NOT_PROCESSED |  Cartão não processado pela Paggcerto \nUSER_LOCKED_TO_SELL | Usuário bloqueado para realizar transações \nAMOUNT_EXCEEDED | Valor excedido  \nPAYMENT_NOT_FOUND | Pagamento não encontrado \nPAYMENT_ALREADY_COMPLETED | O pagamento está completo \nPAYMENT_ALREADY_CANCELLED | O pagamento foi cancelado \n\n"
              }
            }
          }
        }
      }
    },
    "/api/v2/receipts/card-transactions/*nsu*": {
      "post": {
        "tags": [
          "cartão"
        ],
        "summary": "Enviar Comprovante",
        "description": "A finalidade deste método é enviar o comprovante da transação para o cliente. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.create**  \n\n  \n# \n \n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/receipts/card-transactions/*nsu*\n",
        "operationId": "enviarComprovante",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "nsu",
            "in": "path",
            "description": "Nsu da transação para o envio do comprovante.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/APIPagamento/Comprovante/enviarComprovante"
            }
          }
        ],
        "resultados": {
          "204": {
            "description": "No Content"
          },
          "422": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/APIPagamento/pinPad/ResVendaMulti/InVenda"
            },
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nTRANSACTION_NOT_FOUND |  Transação financeira não encontrada \nTRANSACTION_REPROVED | Transação financeira reprovada \nNOTIFICATION_FAILED | Falha na notificação \n\n"
              }
            }
          }
        }
      }
    },
    "/api/v2/finalize/*id*": {
      "post": {
        "tags": [
          "conclusão do pagamento"
        ],
        "summary": "Finalizar Pagamento",
        "description": "A finalidade deste método é enviar o comprovante da transação para o cliente. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.create**  \n\n  \n# \n \n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/finalize/*id*\n",
        "operationId": "finalizarPagamento",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do pagamento que será finalizado.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/APIPagamento/finalizarPagamento"
            }
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APIPagamento/Consultas/ResFinalizarPagamento"
            }
          },
          "422": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/APIPagamento/InFinalizarPagamento"
            },
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nPAYMENT_NOT_FOUND |  Pagamento não encontrado \nPAYMENT_ALREADY_COMPLETED | O pagamento já está finalizado \nPAYMENT_ALREADY_CANCELLED | O pagamento está cancelado \n\n"
              }
            }
          }
        }
      }
    },
    "api/v2/cancel/*id*": {
      "post": {
        "tags": [
          "cancelamento"
        ],
        "summary": "Cancelar Pagamento",
        "description": "O cancelamento do pagamento com cartão somente será efetuado se a transação foi realizada na mesma data do pagamento. O cancelamento de pagamento com boletos pode ser realizado a qualquer momento desde que estejam pendentes ou vencidos, desta forma, não é possível cancelar boletos que já foram pagos. Lembrando que o cancelamento de um pagamento é um processo irreversível. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.create** \n\n  \n# \n \n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/cancel/*id*\n",
        "operationId": "cancelarPagamento",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da pagamento que será cancelado.",
            "required": true,
            "type": "string"
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APIPagamento/ResCancelVenda/ValCancelVenda"
            }
          },
          "422": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/APIPagamento/ResCancelVenda/InCancelVenda"
            },
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nCANCELLATION_TIME_EXCEEDED |  Tempo excedido para o cancelamento do pagamento com cartão \nPAYMENT_CANCELED | O pagamento já está cancelado \nBANKSLIP_PAID | Um ou mais boletos já foram pagos \nPAYMENT_NOT_FOUND | Pagamento não encontrado \n\n"
              }
            }
          }
        }
      }
    },
    "api/v2/cancel-card-transaction/*nsu*": {
      "post": {
        "tags": [
          "cancelamento"
        ],
        "summary": "Cancelar Transação do Cartão",
        "description": "O cancelamento da transação do cartão somente será efetuado se a transação foi realizada na mesma data do pagamento. Lembrando que este cancelamento é um processo irreversível. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.create** \n\n  \n# \n \n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/cancel-card-transaction/*nsu*\n",
        "operationId": "cancelarTransacaoCartao",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "nsu",
            "in": "path",
            "description": "NSU da transação que será cancelada.",
            "required": true,
            "type": "integer"
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APIPagamento/ResCancelTransacao/ValCancelTransacao"
            }
          },
          "422": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/APIPagamento/ResCancelTransacao/InCancelTransacao"
            },
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nCANCELLATION_TIME_EXCEEDED |  Tempo excedido para o cancelamento do transação \nTRANSACTION_CANCELED_OR_REPROVED | Transação cancelada ou reprovada \nTRANSACTION_NOT_FOUND | Transação não encontrada \nCARD_ISSUER_ERROR | Erro do emissor do cartão\n\n"
              }
            }
          }
        }
      }
    },
    "api/v2/cancel-bank-slip/*number*": {
      "post": {
        "tags": [
          "cancelamento"
        ],
        "summary": "Cancelar Boleto",
        "description": "O cancelamento do boleto será efetuado enquanto seu status estiver pendente. Lembrando que este cancelamento é um processo irreversível. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.create** \n\n  \n# \n \n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/cancel-bank-slip/*number*\n",
        "operationId": "cancelarBoleto",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "description": "Número do boleto que será cancelado.",
            "required": true,
            "type": "integer"
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APIBoleto/ResCancelBoleto/ValCancelBoleto"
            }
          },
          "422": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/APIBoleto/ResCancelBoleto/InCancelBoleto"
            },
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nBANK_SLIP_NOT_FOUND |  Boleto não encontrado \nBANK_SLIP_IS_NOT_PENDING | Boleto não está pendente \n\n"
              }
            }
          }
        }
      }
    },
    "/api/v2/find/*id*": {
      "get": {
        "tags": [
          "relatórios"
        ],
        "summary": "Detalhes do Pagamento",
        "description": "O objetivo deste método é exibir todas as informações a respeito do pagamento especificado no endpoint. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.readonly** \n\n  \n# \n \n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/find/*id*\n",
        "operationId": "detalhesPagamento",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do pagamento para exibição dos detalhes.",
            "required": true,
            "type": "string"
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APIPagamento/Consultas/detalhesPagamento"
            }
          }
        }
      }
    },
    "/api/v2/all": {
      "post": {
        "tags": [
          "relatórios"
        ],
        "summary": "Consultar Pagamentos",
        "description": "O objetivo deste método é listar todos os pagamentos de acordo com os dados inseridos nos filtros. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.readonly** \n\n  \n# \n \n##### **POST**  http://account.sandbox.paggcerto.com.br/api/v2/users\n",
        "operationId": "consultarPagamentos",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/APIPagamento/Consultas/consultarPagamento"
            }
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APIPagamento/Consultas/ResConsultarPagamento"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIAccount/BadOffset"
            }
          }
        }
      }
    },
    "/api/v2/transactions/current-day": {
      "get": {
        "tags": [
          "relatórios"
        ],
        "summary": "Consultar Transações por dia Corrente",
        "description": "Esse método retorna uma lista de transações realizadas no dia corrente. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.readonly** \n\n  \n# \n \n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/transactions/current-day\n",
        "operationId": "consultarRepasse",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APIPagamento/Consultas/consultarVenda"
            }
          }
        }
      }
    },
    "/api/v2/plans/transfer-days": {
      "get": {
        "tags": [
          "repasse"
        ],
        "summary": "Consultar dias de repasse",
        "description": "Esse método retorna uma lista com os dias de repasse disponíveis, para escolha do lojista. \n\n  \n# \n \n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/plans/transfer-days\n",
        "operationId": "consultarRepasse",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APIPagamento/Repasse/transferDays"
            }
          }
        }
      }
    },
    "/api/v2/plans/relate-to-holder/*transferday*": {
      "post": {
        "tags": [
          "repasse"
        ],
        "summary": "Alterar Dias de Repasse",
        "description": "A finalidade deste método é alterar o dia de repasse, apenas o usuário titular pode realizar esta alteração e para isso é necessário que ele esteja [Autenticado](#operation/autenticarComCredenciais). \n\n  \n# \n \n##### **POST**  http://payments.sandbox.paggcerto.com.br/api/v2/plans/relate-to-holder/*transferday*\n",
        "operationId": "alterarDiasRepasse",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "transferDay",
            "in": "path",
            "description": "Dia para transferência (2 ou 32).",
            "required": true,
            "type": "string"
          }
        ],
        "resultados": {
          "204": {
            "description": "No Content"
          },
          "422": {
            "description": "",
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nTRANSFER_DAY_NOT_AVAILABLE |  Dia para transferência não disponível \nTRANSFER_DAY_ALREADY_IN_USE |  Dia para transferência já está sendo utilizado \nONLY_HOLDER_CAN_CHANGE | Apenas a equipe de suporte pode realizar esta mudança \n\n"
              }
            },
            "schema": {
              "$ref": "#/definitions/APIPagamento/Repasse/ResAlterarDia"
            }
          }
        }
      }
    },
    "/api/v2/pay/bank-slips": {
      "post": {
        "tags": [
          "boleto"
        ],
        "summary": "Pagamento com Boleto",
        "description": "Com a utilização deste método é realizado o pagamento com boletos. Por meio dele pode ser gerado apenas um ou mais boletos (carnê). \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.credit** \n\n  \n# \n \n##### **POST**  http://payments.sandbox.paggcerto.com.br/api/v2/pay/bank-slips\n",
        "operationId": "pagamentoBoleto",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/APIBoleto/gerarBoleto"
            }
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APIBoleto/ResGerarBoleto/ValGerarBoleto"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIBoleto/ResGerarBoleto/BadGerarBoleto"
            }
          },
          "422": {
            "description": "",
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nINVALID_AMOUNT |  Valor da parcela inferior a R$10,00 \nINVALID_DISCOUNT_DATE | Data do desconto anterior a data atual\n\n"
              }
            },
            "schema": {
              "$ref": "#/definitions/APIBoleto/InBoleto"
            }
          }
        }
      }
    },
    "/api/v2/anticipations/accept-term": {
      "post": {
        "tags": [
          "repasse antecipado"
        ],
        "summary": "Termos de Acordo",
        "description": "Com a utilização deste método o lojista irá aceitar os termos de acordo para a solicitação da antecipação. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.anticipations.readonly** \n\n  \n# \n \n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/anticipations/accept-term\n",
        "operationId": "termosAcordo",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "resultados": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/anticipations/can-anticipate": {
      "get": {
        "tags": [
          "repasse antecipado"
        ],
        "summary": "Pode Antecipar?",
        "description": "A finalidade deste método é informar se o lojista pode solicitar antecipação e se o termo de acordo foi aceito. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.anticipations.readonly** \n\n  \n# \n \n##### **GET**   http://payments.sandbox.paggcerto.com.br/api/v2/anticipations/can-anticipate\n",
        "operationId": "podeAntecipar",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APIAntecipacao/podeAntecipar"
            }
          },
          "422": {
            "description": "",
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nSELLER_NOT_FOUND |  Lojista não encontrado \nANTICIPATION_NOT_FOUND | Não foi encontrada nenhuma antecipação \n\n"
              }
            },
            "schema": {
              "$ref": "#/definitions/APIAntecipacao/InPesquisarAntecipacao"
            }
          }
        }
      }
    },
    "/api/v2/transactions/anticipated": {
      "post": {
        "tags": [
          "repasse antecipado"
        ],
        "summary": "Listar Trasanções Antecipáveis",
        "description": "Com a utilização deste método são listadas todas as transações que podem ser antecipadas. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.anticipation.readonly** \n\n  \n# \n \n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/transactions/anticipated\n",
        "operationId": "listarTransacoesAntecipaveis",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/APIAntecipacao/listarTransacao"
            }
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APIAntecipacao/ResListarTransacao/ValListarTransacao"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIAccount/BadOffset"
            }
          }
        }
      }
    },
    "/api/v2/anticipations/new-request/selected-transactions": {
      "post": {
        "tags": [
          "repasse antecipado"
        ],
        "summary": "Solicitar Antecipação",
        "description": "Com a utilização deste método é realizado a solicitação de antecipação do repasse das transações que foram especificadas no parâmetro **transactions**. Se existir solicitação de antecipação em andamento, uma nova solicitação não poderá ser realizada. \n\n Caso ocorra o cancelamento da solicitação, uma nova solicitação pode ser realizada, o mesmo não acontece quando uma solicitação foi reprovada. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.anticipation.edit** \n\n  \n# \n \n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/anticipations/new-request/selected-transactions\n",
        "operationId": "solicitarAntecipacao",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/APIAntecipacao/gerarAntecipacao"
            }
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APIAntecipacao/ResGerarAntecipacao/ValGerarAntecipacao"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIAntecipacao/ResGerarAntecipacao/BadGerarAntecipacao"
            }
          },
          "422": {
            "description": "",
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nTRANSACTION_NOT_FOUND |  Transação não encontrada \nREQUEST_IN_PROGRESS |  Existe solicitação em andamento \nCONTAINS_REFUSED_TRANSACTION | A transação foi reprovada \n\n"
              }
            },
            "schema": {
              "$ref": "#/definitions/APIAntecipacao/InTransacao"
            }
          }
        }
      }
    },
    "/api/v2/anticipations/new-request/all-transactions": {
      "post": {
        "tags": [
          "repasse antecipado"
        ],
        "summary": "Solicitar Antecipação de todas Transações",
        "description": "Todas as transações que foram realizadas, podem ter a solicitação da antecipação do repasse efetuada com a utilização deste método. Caso exista alguma solicitação cancelada, uma nova solicitação pode ser realizada, porém o mesmo não acontece quando uma solicitação foi reprovada. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.anticipation.edit** \n\n  \n# \n \n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/anticipations/new-request/all-transactions\n",
        "operationId": "solicitarAntecipacaoTransacao",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APIAntecipacao/ResGerarTodasAntecipacoes/ValGerarTodasAntecipacoes"
            }
          },
          "422": {
            "description": "",
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nSELLER_NOT_FOUND |  Lojista não encontrado \nTHERE_ARE_NO_TRANSACTIONS | Não existe transações \nREQUEST_IN_PROGRESS |  Solicitação em andamento \nANTICIPATION_BLOCKED | Antecipação Bloqueada \nCONTAINS_REFUSED_TRANSACTION | Existe transação reprovada\n\n"
              }
            },
            "schema": {
              "$ref": "#/definitions/APIAntecipacao/ResGerarTodasAntecipacoes/BadGerarTodasAntecipacoes"
            }
          }
        }
      }
    },
    "/api/v2/anticipations/in-progress/transactions": {
      "post": {
        "tags": [
          "repasse antecipado"
        ],
        "summary": "Listar Transações da Antecipação em Andamento",
        "description": "A finalidade deste método é listar todas as transações que foram antecipadas, porém ainda não foram concluídas. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.anticipation.readonly** \n\n  \n# \n \n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/anticipations/in-progress/transactions\n",
        "operationId": "listarTransacaoAntecipacaoAndamento",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/APIAntecipacao/listarTransacao"
            }
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APIAntecipacao/ResListarTransacaoAndamento/ValListarTransacaoAndamento"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIAccount/BadOffset"
            }
          }
        }
      }
    },
    "api/v2/anticipations/in-progress": {
      "get": {
        "tags": [
          "repasse antecipado"
        ],
        "summary": "Antecipação em Andamento",
        "description": "Com a utilização deste método é exibido a antecipação que está em andamento. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.anticipation.readonly** \n\n  \n# \n \n##### **GET**   http://payments.sandbox.paggcerto.com.br/api/v2/anticipations/in-progress\n",
        "operationId": "antecipacaoAndamento",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APIAntecipacao/pesquisarAntecipacaoAndamento"
            }
          },
          "422": {
            "description": "",
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nSELLER_NOT_FOUND |  Lojista não encontrado \nANTICIPATION_NOT_FOUND | Não foi encontrada nenhuma antecipação \n\n"
              }
            },
            "schema": {
              "$ref": "#/definitions/APIAntecipacao/InPesquisarAntecipacao"
            }
          }
        }
      }
    },
    "api/v2/anticipations/*anticipationId*": {
      "get": {
        "tags": [
          "repasse antecipado"
        ],
        "summary": "Pesquisar Antecipação",
        "description": "Com a utilização deste método é exibido a informações da antecipação correspondente ao id inserido no endpoint. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.anticipation.readonly** \n\n  \n# \n \n##### **GET**   http://payments.sandbox.paggcerto.com.br/api/v2/anticipations/*anticipationId*\n",
        "operationId": "pesquisarAntecipacao",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "anticipationId",
            "in": "path",
            "description": "Código identificador da antecipação que será pesquisado. ",
            "required": true,
            "type": "string"
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APIAntecipacao/pesquisarAntecipacaoAndamento"
            }
          },
          "422": {
            "description": "",
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nSELLER_NOT_FOUND |  Lojista não encontrado \nANTICIPATION_NOT_FOUND | Antecipação não encontrada \n\n"
              }
            },
            "schema": {
              "$ref": "#/definitions/APIAntecipacao/InPesquisarAntecipacao"
            }
          }
        }
      }
    },
    "/api/v2/anticipations/*anticipationId*/transactions": {
      "post": {
        "tags": [
          "repasse antecipado"
        ],
        "summary": "Listar Transações de uma Antecipação",
        "description": "O objetivo deste método é listar todas as transações que estão relacionadas com o parâmetro **anticipationId**, que foi especificado no endpoint. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.anticipation.readonly** \n\n  \n# \n \n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/anticipations/*anticipationId*/transactions\n",
        "operationId": "listarTransacaoAntecipadas",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "anticipationId",
            "in": "path",
            "description": "Código identificador da antecipação para a listagem das transações.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/APIAntecipacao/listarTransacao"
            }
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APIAntecipacao/ResListarTransacaoAndamento/ValListarTransacaoAndamento"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIAccount/BadOffset"
            }
          },
          "422": {
            "description": "",
            "headers": {
              "Tipos de erros": {
                "description": "\n\nErro  | Descrição\n----------------|---------\nANTICIPATION_NOT_FOUND |  Antecipação não encontrada \n\n"
              }
            },
            "schema": {
              "$ref": "#/definitions/APIAntecipacao/InAntecipacao"
            }
          }
        }
      }
    },
    "/api/v2/anticipations/history": {
      "post": {
        "tags": [
          "repasse antecipado"
        ],
        "summary": "Histórico de Antecipações",
        "description": "O objetivo deste método é exibir todas as antecipações que foram **Parcialmente Aprovadas, Aprovadas, Canceladas e Reprovadas**. \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.anticipation.readonly** \n\n  \n# \n \n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/anticipations/history\n",
        "operationId": "historicoAntecipacoes",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/APIAntecipacao/historico"
            }
          }
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APIAntecipacao/ResHistorico/ValHistorico"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIAccount/BadOffset"
            }
          }
        }
      }
    },
    "/api/v2/transfer/balance": {
      "get": {
        "tags": [
          "relatório"
        ],
        "summary": "Consultar Saldo do Repasse",
        "description": "Com a utilização deste método são exbidas as seguintes informações a respeito do extrato financeiro do lojista: o saldo de repasse, a taxa para a realização da transferência, o valor bruto e líquido da antecipação, o valor devedor, e o valor total à receber.  \n\n Para ter acesso a esse método, é necessário ter a seguinte permissão: **payments.balance.readonly** \n\n  \n# \n \n##### **GET**   http://payments.sandbox.paggcerto.com.br/api/v2/transfer/balance\n",
        "operationId": "consultarSaldoRepasse",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "resultados": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APIAntecipacao/extratoFinanceiro"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "APIAccount": {  
      "permission": {
        "type": "object",
        "required": [
          "service"
        ],
        "properties": {
          "service": {
            "description": "Nome do serviço.",
            "type": "string",
            "example": "payments"
          },
          "scope": {
            "description": "Escopo exigido para acessar um determinado recurso do serviço.",
            "type": "string",
            "example": "resource.example.readonly"
          }
        }
      },
      "role": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Identificador único gerado automaticamente após o cadastro.",
            "type": "string",
            "example": "x9"
          },
          "name": {
            "description": "Nome do perfil do usuário.",
            "type": "string",
            "example": "Gerente financeiro"
          },
          "active": {
            "description": "Informa se o perfil está ativo ou não.",
            "type": "boolean",
            "example": true
          },
          "createdAt": {
            "description": "Data e hora em que o perfil foi criado.",
            "type": "date",
            "example": "2018-04-10T14:14:20.1394168"
          }
        },
        "xml": {
          "name": "role"
        }
      },
      "perfil": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Identificador único gerado automaticamente após o cadastro.",
            "type": "string",
            "example": "x9"
          },
          "name": {
            "description": "Nome do perfil.",
            "type": "string",
            "example": "Setor Financeiro"
          },
          "active": {
            "description": "Informa se o perfil está ativo ou não.",
            "type": "boolean",
            "example": true
          },
          "createdAt": {
            "description": "Data e hora em que o perfil foi criado.",
            "type": "date",
            "example": "2018-04-17T17:38:40.9565295-03:00"
          }
        }
      },
      "holder": {
        "description": "Informações pessoais do titular da conta e de sua empresa.",
        "type": "object",
        "properties": {
          "id": {
            "description": "Identificador único gerado automaticamente após o cadastro.",
            "type": "string",
            "example": "nR"
          },
          "fullName": {
            "description": "Nome completo do titular da conta.",
            "type": "string",
            "example": "Valentina Santos"
          },
          "email": {
            "description": "E-mail do usuário.",
            "type": "string",
            "example": "valentina@email.com"
          },
          "birthDate": {
            "description": "Data de nascimento.",
            "type": "date",
            "example": "1995-01-18"
          },
          "gender": {
            "description": "`F` - Feminino, `M` - Masculino, `O` - Outros",
            "type": "char",
            "example": "F"
          },
          "taxDocument": {
            "description": "CPF do titular da conta.",
            "type": "string",
            "example": "927.228.895-95"
          },
          "phone": {
            "description": "Número do telefone residencial.",
            "type": "string",
            "example": "(79) 2946-7954"
          },
          "mobile": {
            "description": "Número do telefone móvel.",
            "type": "string",
            "example": "(79) 98827-7241"
          },
          "createdAt": {
            "description": "Data e hora da finalização do cadastro.",
            "type": "string",
            "example": "2018-04-12T11:45:50.9486932-03:00"
          },
          "company": {
            "description": "Informações da empresa.",
            "type": "object",
            "properties": {
              "tradeName": {
                "description": "Nome comercial da empresa (nome fantasia).",
                "type": "string",
                "example": "Esportes ME"
              },
              "fullName": {
                "description": "Nome de registro da empresa (razão social).",
                "type": "string",
                "example": "Mariana e Emanuelly Esportes ME"
              },
              "taxDocument": {
                "description": "CNPJ da empresa.",
                "type": "string",
                "example": "94.467.995/0001-49"
              }
            }
          }
        }
      },
      "Holder": {
        "description": "Informações pessoais do titular da conta e de sua empresa.",
        "type": "object",
        "properties": {
          "id": {
            "description": "Identificador único gerado automaticamente após o cadastro.",
            "type": "string",
            "example": "Br"
          },
          "fullName": {
            "description": "Nome do usuário.",
            "type": "string",
            "example": "Joao Mateus"
          },
          "email": {
            "description": "E-mail do usuário.",
            "type": "string",
            "example": "joao@email.com"
          },
          "taxDocument": {
            "description": "CPF do usuário.",
            "type": "string",
            "example": "123.123.123-87"
          },
          "createdAt": {
            "description": "Data e hora da finalização do cadastro.",
            "type": "string",
            "example": "2018-04-12T11:45:50.9486932-03:00"
          },
          "company": {
            "description": "Informações da empresa.",
            "type": "object",
            "properties": {
              "tradeName": {
                "description": "Nome comercial da empresa (nome fantasia).",
                "type": "string",
                "example": "Esportes ME"
              },
              "fullName": {
                "description": "Nome de registro da empresa (razão social).",
                "type": "string",
                "example": "Mariana e Emanuelly Esportes ME"
              },
              "taxDocument": {
                "description": "CNPJ da empresa.",
                "type": "string",
                "example": "94.467.995/0001-49"
              }
            }
          }
        }
      },
      "application": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Identificador único gerado automaticamente após o cadastro.",
            "type": "string",
            "example": "A5"
          },
          "name": {
            "description": "Nome da aplicação",
            "type": "string",
            "example": "Intranet"
          },
          "active": {
            "description": "Indica se a aplicação está ou não ativa.",
            "type": "boolean",
            "example": true
          },
          "createdAt": {
            "description": "Data em que a aplicação foi criada.",
            "type": "date",
            "example": "2018-03-13T13:50:53.29"
          },
          "releasedAt": {
            "description": "Data de homologação da aplicação. Se este parâmetro apresentar o valor **null**, isto indica que o aplicativo ainda não foi homologado e não terá permissão no ambiente de produção.",
            "type": "date",
            "example": "2018-03-20T14:15:23.72"
          },
          "partner": {
            "description": "",
            "allOf": [
              {
                "$ref": "#/definitions/APIAccount/partner"
              }
            ]
          }
        },
        "xml": {
          "name": "application"
        }
      },
      "partner": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Identificador único gerado automaticamente após o cadastro.",
            "type": "string",
            "example": "nR"
          },
          "fullName": {
            "description": "Nome completo do parceiro.",
            "type": "string",
            "example": "M.J.M. Software"
          },
          "gender": {
            "description": "`F` - Feminino, `M` - Masculino, `O` - Outros",
            "type": "char",
            "example": "M"
          },
          "taxDocument": {
            "description": "CPF do parceiro.",
            "type": "string",
            "example": "927.228.895-95"
          },
          "email": {
            "description": "E-mail cadastrado.",
            "type": "string",
            "example": "mj@email.com"
          },
          "phone": {
            "description": "Número do telefone residencial.",
            "type": "string",
            "example": "(79) 2946-7954"
          },
          "mobile": {
            "description": "Número do telefone móvel.",
            "type": "string",
            "example": "(79) 98827-7241"
          },
          "birthDate": {
            "description": "Data de nascimento.",
            "type": "date",
            "example": "1996-05-25T00:00:00"
          },
          "createdAt": {
            "description": "Data e hora da finalização do cadastro.",
            "type": "string",
            "example": "2018-02-12T11:45:50.9486932-03:00"
          },
          "company": {
            "description": "Informações da empresa.",
            "type": "object",
            "properties": {
              "tradeName": {
                "description": "Nome comercial da empresa.",
                "type": "string",
                "example": "Software ME"
              },
              "fullName": {
                "description": "Nome completo da empresa.",
                "type": "string",
                "example": "Tecnologia da Informação"
              },
              "taxDocument": {
                "description": "CNPJ da empresa.",
                "type": "string",
                "example": "94.467.995/0001-49"
              },
              "businessType": {
                "type": "object",
                "properties": {
                  "id": {
                    "description": "Identificador no tipo de empresa.",
                    "type": "string",
                    "example": "Ht"
                  },
                  "name": {
                    "description": "Nome do tipo de empresa.",
                    "type": "string",
                    "example": "Sociedade Empresária Limitada"
                  },
                  "acronym": {
                    "description": "Sigla referente ao tipo de empresa.",
                    "type": "string",
                    "example": "LTDA"
                  }
                }
              }
            }
          }
        }
      },
      "user": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Identificador único gerado automaticamente após o cadastro.",
            "type": "string",
            "example": "Br"
          },
          "email": {
            "description": "E-mail do usuário. Lembrando que para a realização do login o usuário deve utilizar o e-mail cadastrado.",
            "type": "string",
            "example": "joao@email.com"
          },
          "fullName": {
            "description": "Nome do usuário.",
            "type": "string",
            "example": "Joao Mateus"
          },
          "taxDocument": {
            "description": "CPF do usuário.",
            "type": "string",
            "example": "123.123.123-87"
          },
          "active": {
            "description": "Informa se o usuário está ativo ou não.",
            "type": "boolean",
            "example": true
          },
          "createdAt": {
            "description": "Data e hora em que o usuário foi criado.",
            "type": "date",
            "example": "2018-04-10T14:14:20.1394168"
          },
          "role": {
            "description": "Informações sobre o perfil do usuário",
            "allOf": [
              {
                "$ref": "#/definitions/APIAccount/role"
              }
            ]
          },
          "legacy": {
            "description": "Informações a respeito do legado.",
            "type": "object",
            "properties": {
              "id": {
                "description": "Código identificador do legado.",
                "type": "integer",
                "example": 50
              }
            }
          }
        },
        "xml": {
          "name": "user"
        }
      },
      "offset": {
        "type": "object",
        "properties": {
          "index": {
            "description": "Índice da lista.",
            "type": "integer",
            "minimum": 0,
            "example": 0
          },
          "length": {
            "type": "integer",
            "description": "Quantidade máxima de itens retornados na lista.",
            "minimum": 1,
            "maximum": 50,
            "example": 30
          }
        }
      },
      "BadOffset": {
        "type": "object",
        "properties": {
          "errors": {
            "description": "Lista contedo os possíveis erros.",
            "type": "array",
            "xml": {
              "name": "errors",
              "wrapped": true
            },
            "items": {
              "$ref": "#/definitions/APIAccount/errors"
            }
          }
        }
      },
      "errors": {
        "description": "Lista contendo alguns erros.",
        "type": "string",
        "example": "offset.index: Required.\", \n\"offset.length: Between 1 and 50."
      },
      "scopes": {
        "description": "Permissões que serão concedidas ao perfil do usuário.",
        "type": "string",
        "example": "account.users.edit\", \n\"account.users.readonly"
      },
      "Scopes": {
        "description": "Permissões que serão removidas do perfil do usuário.",
        "type": "string",
        "example": "account.users.edit\", \n\"account.users.readonly"
      },
      "ResAccountTitular": {
        "ValAccountTitular": {
          "type": "object",
          "properties": {
            "holder": {
              "description": "Informações pessoais do titular da conta.",
              "type": "object",
              "properties": {
                "id": {
                  "description": "Identificador único gerado automaticamente após o cadastro.",
                  "type": "string",
                  "example": "nR"
                },
                "fullName": {
                  "description": "Nome completo do titular da conta.",
                  "type": "string",
                  "example": "Valentina Santos"
                },
                "gender": {
                  "description": "`F` - Feminino, `M` - Masculino, `O` - Outros.",
                  "type": "char",
                  "example": "F"
                },
                "taxDocument": {
                  "description": "CPF do titular da conta.",
                  "type": "string",
                  "example": "927.228.895-95"
                },
                "email": {
                  "description": "E-mail cadastrado para o titular da conta.",
                  "type": "string",
                  "example": "valentina@email.com"
                },
                "phone": {
                  "description": "Número do telefone residencial.",
                  "type": "string",
                  "example": "(79) 2946-7954"
                },
                "mobile": {
                  "description": "Número do telefone móvel.",
                  "type": "string",
                  "example": "(79) 98827-7241"
                },
                "birthDate": {
                  "description": "Data de nascimento.",
                  "type": "date",
                  "example": "1996-05-25T00:00:00"
                },
                "createdAt": {
                  "description": "Data e hora da finalização do cadastro.",
                  "type": "string",
                  "example": "2018-04-12T11:45:50.9486932-03:00"
                },
                "blacklist": {
                  "description": "Identifica se o cliente está na blacklist.",
                  "type": "boolean",
                  "example": false
                },
                "company": {
                  "description": "Informações da empresa.",
                  "type": "object",
                  "properties": {
                    "tradeName": {
                      "description": "Nome comercial da empresa.",
                      "type": "string",
                      "example": "Esportes ME"
                    },
                    "fullName": {
                      "description": "Nome completo da empresa.",
                      "type": "string",
                      "example": "Mariana e Emanuelly Esportes ME"
                    },
                    "taxDocument": {
                      "description": "CNPJ da empresa.",
                      "type": "string",
                      "example": "94.467.995/0001-49"
                    },
                    "businessType": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "Identificador no tipo de empresa.",
                          "type": "string",
                          "example": "jR"
                        },
                        "name": {
                          "description": "Nome do tipo de empresa.",
                          "type": "string",
                          "example": "Sociedade Empresária Limitada"
                        },
                        "acronym": {
                          "description": "Sigla referente ao tipo de empresa.",
                          "type": "string",
                          "example": "LTDA"
                        }
                      }
                    }
                  }
                }
              }
            },
            "businessActivity": {
              "description": "Informações da atividade comercial.",
              "type": "object",
              "properties": {
                "id": {
                  "description": "Identificação do ramo de atividade comercial.",
                  "type": "string",
                  "example": "MA"
                },
                "name": {
                  "description": "Nome da atividade comercial.",
                  "type": "string",
                  "example": "Esporte e Lazer"
                }
              }
            },
            "address": {
              "description": "Endereço da empresa.",
              "type": "object",
              "properties": {
                "district": {
                  "description": "Bairro.",
                  "type": "string",
                  "example": "Inacio Barbosa"
                },
                "line1": {
                  "description": "Endereço.",
                  "type": "string",
                  "example": "R Manoel De Oliveira Martins"
                },
                "line2": {
                  "description": "Complemento do endereço.",
                  "type": "integer",
                  "example": "Ap 001, Cleveland House"
                },
                "streetNumber": {
                  "description": "Número da residência.",
                  "type": "string",
                  "example": "229"
                },
                "zipCode": {
                  "description": "CEP - Código de Endereçamento Postal.",
                  "type": "string",
                  "example": "49040-830"
                },
                "city": {
                  "description": "Informações da cidade.",
                  "type": "object",
                  "properties": {
                    "code": {
                      "description": "Código da cidade de acordo com o IBGE.",
                      "type": "string",
                      "example": "1234"
                    },
                    "name": {
                      "description": "Noma da cidade.",
                      "type": "string",
                      "example": "Aracaju"
                    },
                    "state": {
                      "description": "Sigla do estado.",
                      "type": "string",
                      "example": "SE"
                    }
                  }
                }
              }
            },
            "bankAccount": {
              "description": "Informações bancárias.",
              "type": "object",
              "properties": {
                "bankNumber": {
                  "description": "Número identificador da instituição financeira.",
                  "type": "string",
                  "example": "001"
                },
                "bankName": {
                  "description": "Nome da instituição financeira.",
                  "type": "string",
                  "example": "Banco do Brasil S.A."
                },
                "accountNumber": {
                  "description": "Número da conta bancária.",
                  "type": "string",
                  "example": "123456-78"
                },
                "bankBranchNumber": {
                  "description": "Número da agência bancária.",
                  "type": "string",
                  "example": "123456"
                },
                "variation": {
                  "description": "Variação da conta. O número de variação existe apenas em algumas contas poupança.",
                  "type": "string",
                  "example": "0"
                },
                "type": {
                  "description": "Tipo de conta: `corrente` ou `poupança`.",
                  "type": "string",
                  "example": "corrente"
                }
              }
            },
            "registrationOrigin": {
              "description": "Informações de registro",
              "type": "object",
              "properties": {
                "ip": {
                  "description": "Número do IP.",
                  "type": "string",
                  "example": "123.123.123.154"
                },
                "timeOnScreen": {
                  "description": "Tempo para a realização do cadastro.",
                  "type": "string",
                  "example": "null"
                },
                "userAgent": {
                  "description": "Software onde foi realizado o cadastro.",
                  "type": "string",
                  "example": "insomnia/5.15.0"
                },
                "device": {
                  "description": "Dispotivo utilizado para a realização do cadastro.",
                  "type": "string",
                  "example": "Desktop"
                },
                "browser": {
                  "description": "Navegador utilizado para a realização do cadastro.",
                  "type": "string",
                  "example": "Generic"
                },
                "platform": {
                  "description": "Plataforma utilizada para a realização do cadastro.",
                  "type": "string",
                  "example": "null"
                },
                "engine": {
                  "description": "Mecanismo utilizado para a realização do cadastro.",
                  "type": "string",
                  "example": "null"
                },
                "marketingMedia": {
                  "description": "Informações a respeito da media social, que o Titular da conta foi informado sobre os serviços da Paggcerto.",
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Identificação da média social.",
                      "type": "string",
                      "example": "k5"
                    },
                    "name": {
                      "description": "Nome da media social.",
                      "type": "integer",
                      "example": "Instagram"
                    }
                  }
                }
              }
            },
            "account": {
              "description": "Informações a respeito da conta do titular.",
              "type": "object",
              "properties": {
                "active": {
                  "description": "Indica se conta bancária do cliente junto a Paggcerto está ou não ativa.",
                  "type": "boolean",
                  "example": true
                },
                "balanceBlocked": {
                  "description": "Indica se o saldo está bloqueado.",
                  "type": "boolean",
                  "example": false
                },
                "vanBanese": {
                  "description": "Código do contrato com o Banese - Banco do Estado de Sergipe. Caso o titular deseje realizar vendas com este cartão. ",
                  "type": "integer",
                  "example": null
                },
                "softdescriptor": {
                  "description": "Nome que irá constar nas faturas dos clientes.",
                  "type": "string",
                  "example": "Esportes ME"
                }
              }
            }
          }
        },
        "BadAccountTitular": {
          "type": "object",
          "properties": {
            "errors": {
              "type": "array",
              "xml": {
                "name": "Array<String>",
                "wrapped": true
              },
              "items": {
                "$ref": "#/definitions/APIAccount/ResAccountTitular/errors"
              }
            }
          }
        },
        "errors": {
          "description": "Lista contendo alguns erros.",
          "type": "string",
          "example": "user.email: Required.\", \n\"holder.gender: Required.\" , \n\"holder.gender: M|F|O\", \n\"address.cityCode: Required.\", \n\"bankAccount.bankNumber: Required."
        },
        "InAccountTitular": {
          "type": "object",
          "properties": {
            "error": {
              "description": "Especificação do erro.",
              "type": "string",
              "example": "EMAIL_ALREADY_TAKEN"
            }
          },
          "xml": {
            "name": "ResAccountTitular"
          }
        }
      }
    },
    "APIPagamento": {
      "pinPad": {
        "vendaPinpad": {
          "type": "object",
          "required": [
            "amount",
            "card"
          ],
          "properties": {
            "sellingKey": {
              "description": "Caso deseje associar seu código interno ao pagamento na Paggcerto, esta chave deve ser informada manualmente.",
              "type": "string",
              "example": "Tu90"
            },
            "amount": {
              "description": "Valor cobrado.",
              "type": "double",
              "pattern": "Este parâmetro não aceita caracteres especiais e letras",
              "example": 90.50
            },
            "card": {
              "description": "Informações a respeito do cartão utilizado no pagamento.",
              "allOf": [
                {
                  "$ref": "#/definitions/APIPagamento/pinPad/card"
                }
              ]
            },
            "device": {
              "description": "Informações a respeito do dispositivo utilizado no pagamento.",
              "type": "object",
              "required": [
                "id",
                "model"
              ],
              "properties": {
                "id": {
                  "description": "Código identificador do dispositivo.",
                  "type": "string",
                  "example": "8000151509001953"
                },
                "model": {
                  "description": "Modelos dos dispositivos: `mobipin10`, `mobipin5`, `pax` ou `pinpad`.",
                  "type": "string",
                  "example": "pinpad"
                }
              }
            },
            "mobileDevice": {
              "description": "Informações a respeito do dispositivo mobile.",
              "type": "object",
              "required": [
                "versionApp",
                "manufacturer",
                "model"
              ],
              "properties": {
                "versionApp": {
                  "description": "Versão do aplicativo mobile utilizado no pagamento.",
                  "type": "string",
                  "pattern": "Este parâmetro não aceita letras",
                  "example": "4.0.1"
                },
                "manufacturer": {
                  "description": "Fabricante do smartphone utilizado no pagamento. Este parâmetro deve ser capturado pelo aplicativo Pinpad web.",
                  "type": "string",
                  "example": "Apple"
                },
                "model": {
                  "description": "Modelo do smartphone utilizado no pagamento. Este parâmetro deve ser capturado pelo aplicativo Pinpad web.",
                  "type": "string",
                  "example": "iPhone 6S Plus"
                }
              }
            },
            "geolocation": {
              "description": "Geolocalização do usuário no momento da realização do pagamento.",
              "type": "object",
              "required": [
                "latitude",
                "longitude"
              ],
              "properties": {
                "latitude": {
                  "description": "Coordenada geográfica da localização do usuário.",
                  "type": "integer",
                  "pattern": "Este parâmetro não aceita letras",
                  "example": -10.952582289475
                },
                "longitude": {
                  "description": "Coordenada geográfica da localização do usuário.",
                  "type": "integer",
                  "pattern": "Este parâmetro não aceita letras",
                  "example": -37.058289404993
                }
              }
            }
          }
        },
        "card": {
          "type": "object",
          "required": [
            "holderName",
            "number",
            "expirationMonth",
            "expirationYear",
            "chip",
            "credit",
            "amountPaid",
            "installment",
            "metadata"
          ],
          "properties": {
            "holderName": {
              "description": "Nome impresso no cartão do cliente. Esse parâmetro deve ser capturado pelo aplicativo Pinpad web.",
              "type": "string",
              "pattern": "Este parâmetro não aceita caracteres especiais e números",
              "example": "Renato Lucca Santos"
            },
            "number": {
              "description": "Número do cartão. Deve conter entre 10 e 25 caracteres.",
              "type": "string",
              "pattern": "Este parâmetro não aceita caracteres especiais e letras",
              "example": "4539056173779038"
            },
            "expirationMonth": {
              "description": "Mês do vencimento do cartão, os valores devem ser entre 1 e 12.",
              "type": "integer",
              "pattern": "00",
              "example": 4
            },
            "expirationYear": {
              "description": "Ano do vencimento do cartão, com quatro digitos.",
              "type": "integer",
              "pattern": "0000",
              "example": 2019
            },
            "chip": {
              "description": "Verifica se o usuário utilizou o chip do cartão. Esse parâmetro deve ser capturado pelo aplicativo Pinpad web.",
              "type": "boolean",
              "example": true
            },
            "credit": {
              "description": "Informa se a modalidade utilizada na transação foi crédito.",
              "type": "boolean",
              "example": true
            },
            "amountPaid": {
              "description": "Valor total que foi pago.",
              "type": "double",
              "example": 90.50
            },
            "installment": {
              "description": "A quantidade de parcelas deve ser de 1 a 12.",
              "type": "integer",
              "example": 1
            },
            "metadata": {
              "description": "Objeto capturado pelo aplicativo pinpad web.",
              "type": "object",
              "required": [
                "sequence"
              ],
              "properties": {
                "sequence": {
                  "description": "Sequência que deve ser seguida para validar o regex do cartão informado.",
                  "type": "integer",
                  "example": 0
                },
                "emvData": {
                  "description": "Padrão de especificações para pagamentos com cartões baseados em chips.",
                  "type": "string",
                  "example": "5F2A02098682021800950580000000009A031805189C01009F020"
                },
                "tracks": {
                  "description": "Objeto complexo que retorna uma lista com as trilhas de um cartão.",
                  "type": "object",
                  "required": [
                    "number1",
                    "number2",
                    "number3"
                  ],
                  "properties": {
                    "number1": {
                      "description": "Trilha do cartão.",
                      "type": "string",
                      "example": "6aghAS8uaty7ga&UG"
                    },
                    "number2": {
                      "description": "Trilha do cartão.",
                      "type": "string",
                      "example": "null"
                    },
                    "number3": {
                      "description": "Trilha do cartão.",
                      "type": "string",
                      "example": "null"
                    }
                  }
                },
                "pinOnline": {
                  "description": "Informa se a validação será feita no emissor ou no dispositivo utilizado no pagamento.",
                  "type": "boolean",
                  "example": false
                },
                "pin": {
                  "description": "Número do pin criptografado. Este parâmetro deve ser capturado pelo aplicativo Pinpad web.",
                  "type": "string",
                  "example": "fretgregfSWEC2344"
                },
                "serial": {
                  "description": "Número de série da chave. Este parâmetro deve ser capturado pelo aplicativo Pinpad web.",
                  "type": "string",
                  "example": "VFGTfefFEWW3ssd"
                }
              }
            }
          }
        },
        "cards": {
          "type": "object",
          "properties": {
            "nsu": {
              "description": "Identificador único de uma venda.",
              "type": "long",
              "example": 2134691
            },
            "cardBrand": {
              "description": "Bandeira do cartão. Bandeiras suportadas: `ELO`, `MASTERCARD` e `VISA`, todas estas bandeiras suportam ambas as modalidades (débito e crédito). O BANESE CARD é identificado como MASTERCARD na modalidade débito.",
              "type": "string",
              "example": "Visa"
            },
            "cardFinal": {
              "description": "Últimos digitos impressos no cartão.",
              "type": "string",
              "example": "9038"
            },
            "credit": {
              "description": "Informa se a modalidade do cartão é cretido.",
              "type": "boolean",
              "example": true
            },
            "aumontPaid": {
              "description": "Valor total que foi pago.",
              "type": "double",
              "example": 90.50
            },
            "installments": {
              "description": "A quantidade de parcelas deve ser de 1 a 12.",
              "type": "integer",
              "example": 1
            },
            "installmentValue": {
              "description": "Valor da parcela.",
              "type": "double",
              "example": 90.50
            },
            "cancelledAt": {
              "description": "Data de cancelamento da venda.",
              "type": "date",
              "example": null
            },
            "contestedOn": {
              "description": "Data em que transação foi contestada.",
              "type": "date",
              "example": null
            },
            "paidAt": {
              "description": "Data em que o pagamento foi realizado.",
              "type": "date",
              "example": "2018-03-19T10:30:34.43"
            },
            "status": {
              "description": "O status do pagamento podem ser os seguintes: \n\n `approved`: Transação aprovada; \n\n `reproved`: Transação reprovada; \n\n `cancelled`: Transação cancelada pelo logista; \n\n `chargeback`: Transação extornada pelo cliente.",
              "type": "string",
              "example": "approved"
            },
            "cardIssuerMessage": {
              "description": "Mensagem do emissor do cartão.",
              "type": "string",
              "example": "Transação aprovada"
            }
          }
        },
        "ResVenda": {
          "ValVenda": {
            "type": "object",
            "properties": {
              "id": {
                "description": "Identificador único gerado após o pagamento.",
                "type": "string",
                "example": "a0b1"
              },
              "sellingKey": {
                "description": "Chave que foi informada manualmente.",
                "type": "string",
                "example": "Tu90"
              },
              "status": {
                "description": "O status do pagamento podem ser os seguintes: \n\n `paid`: Valor pago é igual ao valor cobrado; \n\n `pending`: Valor pago é inferior ao valor cobrado; \n\n `delayed`: O pagamento do boleto está em atraso;  \n\n `cancelled`: Pagamento cancelado.",
                "type": "string",
                "example": "paid"
              },
              "createAt": {
                "description": "Data da realização do pagamento.",
                "type": "date",
                "example": "2018-03-19T09:56:34.43"
              },
              "cancelledAt": {
                "description": "Data de cancelamento do pagamento.",
                "type": "date",
                "example": null
              },
              "completedAt": {
                "description": "Data em que o pagamento foi finalizado automaticamente ou de forma manual, mais informações confira no método [Finalizar Pagamento](#operation/finalizarPagamento).",
                "type": "date",
                "example": "2018-03-19T10:30:34.43"
              },
              "discount": {
                "description": "Valor do desconto. ",
                "type": "double",
                "pattern": "Este parâmetro não aceita caracteres especiais e letras",
                "example": null
              },
              "fines": {
                "description": "Valor da multa cobrada por dia após o vencimento do pagamento.",
                "type": "double",
                "pattern": "Este parâmetro não aceita caracteres especiais e letras",
                "example": null
              },
              "interest": {
                "description": "Valor do juros cobrado por dia após o vencimento do pagamento.",
                "type": "double",
                "pattern": "Este parâmetro não aceita caracteres especiais e letras",
                "example": null
              },
              "amount": {
                "description": "Valor do cobrado.",
                "type": "double",
                "example": 90.50
              },
              "cardTransactions": {
                "description": "Informações a respeito do(s) cartão(ões) utilizado(s) no pagamento.",
                "type": "array",
                "xml": {
                  "name": "cards",
                  "wrapped": true
                },
                "items": {
                  "$ref": "#/definitions/APIPagamento/pinPad/cards"
                }
              },
              "bankSlips": {
                "description": "Informações a respeito do(s) boleto(s) utilizado(s) no pagamento.",
                "type": "array"
              }
            }
          },
          "BadVenda": {
            "type": "object",
            "properties": {
              "errors": {
                "description": "Lista contedo os possíveis erros.",
                "type": "array",
                "xml": {
                  "name": "errors",
                  "wrapped": true
                },
                "items": {
                  "$ref": "#/definitions/APIPagamento/pinPad/ResVenda/errors"
                }
              }
            }
          },
          "errors": {
            "description": "Lista contendo alguns erros.",
            "type": "string",
            "example": "amount: Required.\", \n\"cards: Required."
          },
          "InVenda": {
            "type": "object",
            "properties": {
              "error": {
                "description": "Especificação do erro",
                "type": "string",
                "example": "CARD_NOT_PROCESSED"
              }
            }
          }
        },
        "vendaPinpadMulti": {
          "type": "object",
          "required": [
            "amount",
            "card"
          ],
          "properties": {
            "card": {
              "description": "Informações a respeito do cartão utilizado no pagamento.",
              "allOf": [
                {
                  "$ref": "#/definitions/APIPagamento/pinPad/Card"
                }
              ]
            },
            "device": {
              "description": "Informações a respeito do dispositivo utilizado no pagamento.",
              "type": "object",
              "required": [
                "id",
                "model"
              ],
              "properties": {
                "id": {
                  "description": "Código identificador do dispositivo.",
                  "type": "string",
                  "example": "8000151509001953"
                },
                "model": {
                  "description": "Tipos dos dispositivos. `mobipin10`, `mobipin5`, `pax` ou `pinpad`.",
                  "type": "string",
                  "example": "pinpad"
                }
              }
            },
            "mobileDevice": {
              "description": "Informações a respeito do dispositivo mobile.",
              "type": "object",
              "required": [
                "versionApp",
                "manufacturer",
                "model"
              ],
              "properties": {
                "versionApp": {
                  "description": "Versão do aplicativo mobile utilizado no pagamento.",
                  "type": "string",
                  "pattern": "Este parâmetro não aceita letras",
                  "example": "4.0.1"
                },
                "manufacturer": {
                  "description": "Fabricante do smartphone utilizado no pagamento. Este parâmetro deve ser capturado pelo aplicativo Pinpad web.",
                  "type": "string",
                  "example": "Apple"
                },
                "model": {
                  "description": "Modelo do smartphone utilizado no pagamento. Este parâmetro deve ser capturado pelo aplicativo Pinpad web.",
                  "type": "string",
                  "example": "iPhone 6S Plus"
                }
              }
            },
            "geolocation": {
              "description": "Geolocalização do usuário no momento da realização do pagamento.",
              "type": "object",
              "required": [
                "latitude",
                "longitude"
              ],
              "properties": {
                "latitude": {
                  "description": "Coordenada geográfica da localização do usuário.",
                  "type": "interger",
                  "pattern": "Este parâmetro não aceita letras",
                  "example": -10.952582289475
                },
                "longitude": {
                  "description": "Coordenada geográfica da localização do usuário.",
                  "type": "integer",
                  "pattern": "Este parâmetro não aceita letras",
                  "example": -37.058289404993
                }
              }
            }
          }
        },
        "Card": {
          "type": "object",
          "required": [
            "holderName",
            "number",
            "expirationMonth",
            "expirationYear",
            "chip",
            "credit",
            "amountPaid",
            "installment",
            "metadata"
          ],
          "properties": {
            "holderName": {
              "description": "Nome impresso no cartão do cliente. Esse parâmetro deve ser capturado pelo aplicativo Pinpad web.",
              "type": "string",
              "pattern": "Este parâmetro não aceita caracteres especiais e números",
              "example": "Renato Lucca Santos"
            },
            "number": {
              "description": "Número do cartão. Deve conter entre 10 e 25 caracteres.",
              "type": "string",
              "pattern": "Este parâmetro não aceita caracteres especiais e letras",
              "example": "5277931192911064"
            },
            "expirationMonth": {
              "description": "Mês do vencimento do cartão, os valores devem ser entre 1 e 12.",
              "type": "integer",
              "pattern": "00",
              "example": 5
            },
            "expirationYear": {
              "description": "Ano do vencimento do cartão, com quatro digitos",
              "type": "integer",
              "pattern": "0000",
              "example": 2019
            },
            "chip": {
              "description": "Verifica se o usuário utilizou o chip do cartão. Esse parâmetro deve ser capturado pelo aplicativo Pinpad web.",
              "type": "boolean",
              "example": true
            },
            "credit": {
              "description": "Informa se a modalidade utilizada na venda foi crédito.",
              "type": "boolean",
              "example": true
            },
            "amountPaid": {
              "description": "Valor total que foi pago.",
              "type": "double",
              "example": 50
            },
            "installment": {
              "description": "A quantidade de parcelas deve ser de 1 a 12.",
              "type": "integer",
              "example": 3
            },
            "metadata": {
              "description": "Objeto capturado pelo aplicativo pinpad web.",
              "type": "object",
              "required": [
                "sequence"
              ],
              "properties": {
                "sequence": {
                  "description": "Sequência que deve ser seguida para validar o regex do cartão informado.",
                  "type": "integer",
                  "example": 0
                },
                "emvData": {
                  "description": "Padrão de especificações para pagamentos com cartões baseados em chips.",
                  "type": "string",
                  "example": "5F2A02098682021800950580000000009A031805189C01009F020"
                },
                "tracks": {
                  "description": "Objeto complexo que retorna uma lista com as trilhas de um cartão.",
                  "type": "object",
                  "required": [
                    "number1",
                    "number2",
                    "number3"
                  ],
                  "properties": {
                    "number1": {
                      "description": "Trilha do cartão.",
                      "type": "string",
                      "example": "6aghAS8uaty7ga&UG"
                    },
                    "number2": {
                      "description": "Trilha do cartão.",
                      "type": "string",
                      "example": "null"
                    },
                    "number3": {
                      "description": "Trilha do cartão.",
                      "type": "string",
                      "example": "null"
                    }
                  }
                },
                "pinOnline": {
                  "description": "Informa se a validação será feita no emissor ou no dispositivo utilizado no pagamento.",
                  "type": "boolean",
                  "example": false
                },
                "pin": {
                  "description": "Número do pin criptografado. Este parâmetro deve ser capturado pelo aplicativo Pinpad web.",
                  "type": "string",
[...]
